{% sw_extends '@Storefront/storefront/element/cms-element-image-slider.html.twig' %}

{% block element_image_slider %}
    {% set sliderConfig = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}{% if sliderConfig.displayMode.value == "standard" and sliderConfig.verticalAlign.value %} has-vertical-alignment{% endif %}">
        {% set baseSliderOptions = {
            slider: {
                navPosition: 'bottom',
                speed: sliderConfig.speed.value,
                autoplayTimeout: sliderConfig.autoplayTimeout.value,
                autoplay: sliderConfig.autoSlide.value,
                autoplayButtonOutput: false,
                nav: sliderConfig.navigationDots.value ? true : false,
                controls: sliderConfig.navigationArrows.value ? true : false,
                autoHeight: (sliderConfig.displayMode.value == "standard") ? true : false,
                mouseDrag: true,
                touch: true
            }
        } %}

        {% block element_image_slider_alignment %}
            {{ parent() }}
        {% endblock %}

    </div>
{% endblock %}
