{% sw_extends '@Framework/documents/storno.html.twig' %}

{% block document_body %}
    {% set customProductIds = [] %}
    {% for lineItem in order.lineItems %}
        {# find out all custom product ids #}
        {% if lineItem.type == 'customized-products' %}
            {% set customProductIds = customProductIds|merge([lineItem.id]) %}
        {% endif %}
    {% endfor %}

    {{ parent() }}
{% endblock %}

{% block position %}
    {% if lineItem.type == 'product' and lineItem.parentId in customProductIds %}
        {% set level = 0 %}
        {{ parent() }}
    {% elseif lineItem.type != 'customized-products' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block document_line_item_table_row_quantity %}
    {% if (lineItem.type == 'customized-products-option' or lineItem.type == 'option-values') and lineItem.payload.isOneTimeSurcharge == true %}
        <td class="align-right">1</td>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block document_line_item_table_row_label %}
    {% sw_include '@SwagCustomizedProducts/documents/_includes/label.html.twig' %}
{% endblock %}
