{% block sw_category_detail_information_type %}
    {% parent %}

    {% block sw_category_detail_information_type_customer_restrictions %}
        <sw-container class="sw-category-detail-base__customer-restrictions">

            {% block sw_category_detail_information_type_customer_restrictions_title %}
                <span class="sw-category-detail-base__customer-restrictions-title">
                    {{ $tc('swag-dynamic-access.category.title') }}
                </span>
            {% endblock %}

            {% block sw_category_detail_information_type_customer_restrictions_body %}
                <p class="sw-category-detail-base__customer-restrictions-body">
                    {{ $tc('swag-dynamic-access.category.body') }}
                </p>
            {% endblock %}

            {% block sw_category_detail_information_type_customer_restrictions_field %}
                <sw-select-rule-create
                    v-if="!isLoading"
                    :rules="dynamicAccessRulesValue"
                    :disabled="!acl.can('category.editor')"
                    :label="$tc('swag-dynamic-access.category.fieldLabel')"
                    :placeholder="$tc('swag-dynamic-access.category.fieldPlaceholder')"
                    rule-aware-group-key="swagDynamicAccessCategories"
                    class="sw-category-detail-base__customer-restrictions-field"
                />
            {% endblock %}

        </sw-container>
    {% endblock %}
{% endblock %}
