{% block sw_product_detail_specifications_custom_products %}
    <sw-inherit-wrapper
            {% if VUE3 %}
                v-model:value="product.swagCustomizedProductsTemplateId"
            {% else %}
                v-model="product.swagCustomizedProductsTemplateId"
            {% endif %}
            class="swag-customized-products-product-assignment"
            ref="swagCustomizedProductsTemplate"
            :inheritedValue="parentProduct.swagCustomizedProductsTemplateId"
            :customInheritationCheckFunction="swagCustomizedProductsCheckInheritanceFunction"
            :customRestoreInheritanceFunction="swagCustomizedProductsRestoreInheritanceFunction"
            :customRemoveInheritanceFunction="swagCustomizedProductsRemoveInheritanceFunction"
            isAssociation>

            <template #content="{ isInherited, isInheritField, restoreInheritance, removeInheritance, currentValue, updateCurrentValue }">
                {% block swag_customized_products_product_assignment_extension_card %}
                    <sw-card v-show="showProductCard('customized_products')"
                             :class="{ 'sw-card__inherited': isInherited }"
                             :isLoading="isLoading"
                             :title="$tc('swag-customized-products-product-assignment.cardTitle')">
                        <template #title>

                            {% block swag_customized_products_product_assignment_extension_card_title %}
                                <div class="swag-customized-products-product-assignment__card-title sw-card__title" :class="{ 'sw-card__title__inherited': isInherited }">
                                    <sw-inheritance-switch
                                            v-if="isInheritField"
                                            class="swag-customized-products-product-assignment__inheritance-icon sw-inherit-wrapper__inheritance-icon"
                                            :isInherited="isInherited"
                                            @inheritance-restore="restoreInheritance"
                                            @inheritance-remove="removeInheritance">
                                    </sw-inheritance-switch>
                                    {{ $tc('swag-customized-products-product-assignment.cardTitle') }}
                                </div>
                            {% endblock %}

                        </template>

                        {% block swag_customized_products_product_assignment_extension_card_info %}
                            <sw-container class="swag-customized-products-product-assignment__info">

                                {% block swag_customized_products_product_assignment_extension_card_info_headline %}
                                    <span class="swag-customized-products-product-assignment__info-headline">
                                        {{ $tc('swag-customized-products-product-assignment.textHeadline') }}
                                    </span>
                                {% endblock %}

                                {% block swag_customized_products_product_assignment_extension_card_info_content %}
                                    <p v-html="$tc('swag-customized-products-product-assignment.textContent')"
                                       class="swag-customized-products-product-assignment__info-text">
                                    </p>
                                {% endblock %}

                            </sw-container>
                        {% endblock %}

                        {% block swag_customized_products_product_assignment_extension_card_form %}
                            <sw-container class="swag-customized-products-product-assignment__select-container">

                                {% block swag_customized_products_product_assignment_extension_card_select %}
                                    <sw-entity-single-select
                                            class="swag-customized-products-product-assignment__select"
                                            entity="swag_customized_products_template"
                                            labelProperty="internalName"
                                            :label="$tc('swag-customized-products-product-assignment.selectLabel')"
                                            :placeholder="$tc('swag-customized-products-product-assignment.selectPlaceholder')"
                                            :isInherited="isInherited"
                                            {% if VUE3 %}
                                                v-model:value="currentValue"
                                                @update:value="updateCurrentValue"
                                            {% else %}
                                                v-model="currentValue"
                                                @change="updateCurrentValue"
                                            {% endif %}
                                            :disabled="isInherited || !acl.can('product.editor')">
                                    </sw-entity-single-select>
                                {% endblock %}

                            </sw-container>
                        {% endblock %}

                        {% block swag_customized_products_product_assignment_extension_card_module_link_container %}
                            <sw-container
                                    class="swag-customized-products-product-assignment__link-container"
                                    columns="1fr"
                                    justify="end">

                                {% block swag_customized_products_product_assignment_extension_card_module_link %}
                                    <router-link
                                            class="swag-customized-products-product-assignment__quick-link sw-card__quick-link"
                                            :to="{ name: 'swag.customized.products.index' }">
                                        {{ $tc('swag-customized-products-product-assignment.moduleLink') }} <sw-icon name="regular-long-arrow-right" small></sw-icon>
                                    </router-link>
                                {% endblock %}

                            </sw-container>
                        {% endblock %}

                    </sw-card>
                {% endblock %}
            </template>
    </sw-inherit-wrapper>
{% endblock %}
