{% block sw_product_generated_description_modal %}
<sw-modal
    v-if="getLicense('TEXT_GENERATOR-2209427')"
    class="sw-product-generated-description-modal"
    @modal-close="onCancel">

    <template #modal-title>
        <h4 id="modalTitleEl" class="sw-modal__title">
            {{ $tc('sw-product-generated-description.modalTitle') }}
        </h4>
        <sw-ai-copilot-badge />
    </template>

    {% block sw_product_generated_description_disclaimer_text %}
    <div class="sw-product-generated-description-modal__disclaimer-text">
        <p>{{ $tc('sw-product-generated-description.textDisclaimer') }}</p>
    </div>
    {% endblock %}
    {% block sw_product_generated_description_form %}
    <div class="sw-product-generated-description-modal__generation-form">
        {% block sw_product_generated_description_form_keywords %}
        <sw-field
            type="text"
            v-model="keywords"
            :label="$tc('sw-product-generated-description.keywords.label')"
            name="sw-product-generated-description-modal--keywords"
            :help-text="$tc('sw-product-generated-description.keywords.helpText')"
            :placeholder="$tc('sw-product-generated-description.keywords.placeholder')"
        />
        {% endblock %}
        {% block sw_product_generated_description_button_generate %}
        <sw-button
            class="sw-product-generated-description-modal__generate-action"
            :disabled="isLoading"
            variant="primary"
            size="small"
            @click="generateText">
            {{ $tc('sw-product-generated-description.buttonGenerate') }}
        </sw-button>
        {% endblock %}
    </div>
    {% endblock %}
    {% block sw_product_generated_description_output %}
    <div class="sw-product-generated-description-modal__generated-text">
        {% block sw_product_generated_description_output_text %}
            <div>
                <div class="sw-product-generated-description-modal__text-output">
                <template v-if="isLoading">
                    <sw-product-generated-description-ellipsis
                        class="sw-product-generated-description-modal__text-ellipsis">
                    </sw-product-generated-description-ellipsis>
                </template>
                <p v-else>{{ generatedDescription }}</p>
                </div>
            </div>
        {% endblock %}
        {% block sw_product_generated_description_button_copy %}
            <div class="sw-product-generated-description-modal__copy">
                <sw-ai-copilot-warning />
                <sw-button
                    variant="ghost"
                    :disabled="!generatedDescription"
                    size="small"
                    class="sw-product-generated-description-modal__copy-action"
                    @click="onCopy">
                    {{ $tc('sw-product-generated-description.buttonCopy') }}
                </sw-button>
            </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block sw_product_generated_description_modal_footer %}
        <template #modal-footer>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_generated_description_modal_footer_button_cancel %}
                <sw-button
                    size="small"
                    @click="onCancel"
                >
                    {{ $tc('global.default.close') }}
                </sw-button>
            {% endblock %}
        </template>
    {% endblock %}
</sw-modal>
{% endblock %}
