{% sw_extends '@Storefront/storefront/layout/header/account-menu.html.twig' %}

{% block layout_header_actions_account_widget_dropdown_header %}
    {% if isB2bAdmin() %}
        {% block b2b_components_dropdown_header %}
            <div class="dropdown-header account-menu-header header-b2b d-flex align-items-center justify-content-between">
                {% block b2b_components_dropdown_header_title %}
                    <div class="account-menu-header-title">
                        {{ "account.myAccount"|trans|sw_sanitize }}
                    </div>
                {% endblock %}
                {% block b2b_components_dropdown_header_badge %}
                    <div class="ps-3 account-menu-header-badge d-md-none">
                        <span class="badge badge-lg text-bg-primary m-0 px-3">{{ "employee-management.navigation.adminPill"|trans|sw_sanitize }}</span>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
