{% sw_extends '@Storefront/storefront/page/product-detail/review/review.html.twig' %}

{% block page_product_detail_review_container %}
    {% set reviewSummary = page.product.extensions.reviewSummaries.first %}
    {% if getLicense('REVIEW_SUMMARY-8147095') and reviewSummary.summary is defined and reviewSummary.visible == true %}
        <div class="product-detail-review-summary">
            <h4 class="product-detail-review-summary-title">
                {{ 'detail.reviewSummaryTitle'|trans }}
            </h4>
            <p class="product-detail-review-summary-text">
                {{ page.product.extensions.reviewSummaries.first.summary }}
            </p>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
