includes:
    - ../../../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - ../../../src/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
    # run `php vendor/shopware/core/DevOps/StaticAnalyze/phpstan-bootstrap.php` to create the container
    excludePaths:
        - vendor
        - var
        - ecs.php
    paths:
        - src
        - tests

    ignoreErrors:
        - '#.*\n.*reason:class-hierarchy-change - extends of FlowEventAware will be removed#'
        - '#.* generic class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepository.*not specify its types: TEntityCollection#'
        - '#.* generic class Shopware\\Core\\System\\SalesChannel\\Entity\\SalesChannelRepository.*not specify its types: TEntityCollection#'
        - '#.* generic class Shopware\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult.*does not specify its types: TEntityCollection#'
        - '#.*\n.*reason:remove-constraint-annotation#'
