/.idea
/vendor/
/.vscode/

###> shopware/core ###
.env
.env.local
.env.local.php
.env.*.local
.env.test
# custom/*
/tests
/config

custom/plugins/*
!custom/plugins/Compumess/

!custom/static-plugins/
/public/*

/files/*
/var/*
!/var/log/.gitkeep
!/var/cache/.gitkeep
/auth.json
/install.lock
public/asset-manifest.json
###< shopware/core ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
