<sw-page>

    <template #smart-bar-header>
        <h2>
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ $tc('commercial.subscriptions.settings.subscriptions') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ activeItem }}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
        </h2>
    </template>

    <template #language-switch>
        <sw-language-switch />
    </template>

    <template #content>
        <sw-card-view class="sw-settings-subscription-index__card-view">
            <sw-tabs
                class="sw-settings-subscription-index__tabs"
                position-identifier="sw-settings-subscription"
                @new-item-active="onNewItemActive"
            >
                <sw-tabs-item
                    class="sw-settings-subscription-index__tab-plans"
                    :route="{ name: 'sw.settings.subscription.index.plans' }"
                    :title="$tc('commercial.subscriptions.settings.plan.title')"
                >
                    {{ $tc('commercial.subscriptions.settings.plan.title') }}
                </sw-tabs-item>

                <sw-tabs-item
                    class="sw-settings-subscription-index__tab-intervals"
                    :route="{ name: 'sw.settings.subscription.index.intervals' }"
                    :title="$tc('commercial.subscriptions.settings.intervals')"
                >
                    {{ $tc('commercial.subscriptions.settings.intervals') }}
                </sw-tabs-item>
            </sw-tabs>

            <sw-alert v-if="!newFeatureInfoClosed"
                      class="sw-settings-subscription-index__feature-alert"
                      :title="$tc('commercial.subscriptions.settings.newFeatureInfoTitle')"
                      closable
                      show-icon
                      @close="closeNewFeatureInfo"
>
                <i18n path="commercial.subscriptions.settings.newFeatureInfo">
                    <template #blogpost>
                        <sw-external-link href="">
                            {{ $tc('commercial.subscriptions.settings.newFeatureInfoBlogPost') }}
                        </sw-external-link>
                    </template>
                    <template #feedback>
                        <sw-external-link href="https://feedback.shopware.com/">
                            {{ $tc('commercial.subscriptions.settings.newFeatureInfoFeedback') }}
                        </sw-external-link>
                    </template>
                </i18n>
            </sw-alert>

            <router-view />
        </sw-card-view>
    </template>

</sw-page>
