{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_link_orders %}
    {{ parent() }}

    {% set customerGroups = config('EseomOrderForm.config.eseomOrderFormCustomerGroups') %}
    {% if config('EseomOrderForm.config.eseomOrderFormShowInAccount') and (not customerGroups or context.currentCustomerGroup.id() in customerGroups) and (config('EseomOrderForm.config.eseomOrderFormBeforeLogin') or context.customer) %}
        <a href="{{ seoUrl('frontend.navigation.page', { navigationId: config('EseomOrderForm.config.eseomOrderFormShowInAccount') }) }}" title="{{ "eseom-order-form.account.name"|trans }}"  class="list-group-item list-group-item-action account-aside-item">
            {{ "eseom-order-form.account.name"|trans }}
        </a>
    {% endif %}
{% endblock %}
