{% sw_extends '@Storefront/storefront/page/account/profile/reset-password.html.twig' %}

{% block page_account_profile_reset_password_form %}
    {% block b2b_components_profile_reset_password_form %}
        <form method="post"
              class="account-reset-password-form card"
              action="{{ path('frontend.account.business-partner.employee.recover.password.reset') }}"
              data-form-validation="true">

            {% block page_account_profile_reset_password_title %}
                {{ parent() }}
            {% endblock %}

            {% block page_account_profile_reset_password_container %}
                {{ parent() }}
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}
