{% block sw_customer_role_card %}
    <sw-card
        class="sw-customer-role-card"
        positionIdentifier="sw-customer-role-card"
        :title="$tc('sw-customer.role.list.title')"
        toolbar
        large
    >
        {% block sw_customer_role_card_toolbar %}
            <template #toolbar>
                <sw-card-filter
                    class="sw-customer-role-card__toolbar-card-filter"
                    :disabled="isLoading"
                    @sw-card-filter-term-change="onChangeSearchTerm"
                ></sw-card-filter>

                <sw-button
                    class="sw-customer-role-card__toolbar-create-button"
                    :disabled="creationDisabled"
                    @click="onCreate"
                    variant="ghost"
                    size="small"
                >
                    {{ $tc('sw-customer.role.list.addButtonLabel') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block sw_customer_role_card_grid %}
            <template #grid>
                <sw-entity-listing
                    v-if="showListing"
                    class="sw-customer-role-card__grid"
                    :repository="roleRepository"
                    :items="collection"
                    :columns="columns"
                    :full-page="false"
                    :show-selection="false"
                    :show-settings="false"
                    :allow-column-edit="false"
                    :allow-edit="editMode && acl.can('b2b_employee_management.editor')"
                    :allow-inline-edit="editMode && acl.can('b2b_employee_management.editor')"
                    :allow-delete="editMode && acl.can('b2b_employee_management.deleter')"
                    @update-records="updateCollection"
                    disable-route-params
                    plain-appearance
                    show-actions
                >
                    {% block sw_customer_role_card_grid_column_name %}
                        <template #column-name="{ item, isInlineEdit }">
                            <template v-if="isInlineEdit">
                                <div class="sw-customer-role-card__grid-inline-edit sw-data-grid-inline-edit is--compact">
                                    <sw-text-field
                                        v-model="item.name"
                                        class="sw-customer-role-card__grid-edit-name"
                                        size="small"
                                    ></sw-text-field>
                                </div>
                            </template>
                            <template v-else>
                                <span class="sw-customer-role-card__grid-name">
                                    {{ item.name }}
                                </span>
                                <sw-label
                                    class="sw-customer-role-card__grid-default-label"
                                    v-if="item.id === customer?.extensions?.b2bBusinessPartner?.defaultRoleId"
                                    size="small"
                                >
                                    {{ $tc('sw-customer.role.list.grid.defaultLabel') }}
                                </sw-label>
                            </template>
                        </template>
                    {% endblock %}

                    {% block sw_customer_role_card_grid_actions %}
                        <template #actions="{ item }">
                            {% block sw_customer_role_card_grid_actions_edit %}
                                <sw-context-menu-item
                                    class="sw-customer-role-card__grid-action-edit"
                                    @click="onEdit(item)"
                                    :disabled="!acl.can('b2b_employee_management.editor') || !editMode"
                                >
                                    {{ $tc('global.default.edit') }}
                                </sw-context-menu-item>
                            {% endblock %}

                            {% block sw_customer_role_card_grid_actions_delete %}
                                <sw-context-menu-item
                                    class="sw-customer-role-card__grid-action-delete"
                                    @click="onDelete(item)"
                                    :disabled="deletionDisabled"
                                    variant="danger"
                                >
                                    {{ $tc('global.default.delete') }}
                                </sw-context-menu-item>
                            {% endblock %}
                        </template>
                    {% endblock %}

                    {% block sw_customer_role_card_grid_modals %}
                        <template #action-modals="{ item }">
                            {% block sw_customer_role_card_grid_modals_delete %}
                                <sw-modal
                                    v-if="showDeleteModal && selectedItem.id === item.id"
                                    :title="$tc('sw-customer.role.list.grid.modals.delete.title')"
                                    variant="small"
                                    class="sw-customer-role-card__grid-delete-modal"
                                    @modal-close="onModalClose"
                                >
                                    <p>{{ $tc('sw-customer.role.list.grid.modals.delete.description', 0, { name: item.name }) }}</p>

                                    <template #modal-footer>
                                        <sw-button
                                            class="sw-customer-role-card__grid-delete-modal-button-cancel"
                                            size="small"
                                            :disabled="isLoading"
                                            @click="onModalClose"
                                        >
                                            {{ $tc('global.default.cancel') }}
                                        </sw-button>

                                        <sw-button-process
                                            class="sw-customer-role-card__grid-delete-modal-button"
                                            variant="danger"
                                            size="small"
                                            :is-loading="isLoading"
                                            :process-success="isDeleteSuccessful"
                                            @process-finish="onModalClose"
                                            @click.prevent="onConfirmDelete(item.id)"
                                        >
                                            {{ $tc('global.default.delete') }}
                                        </sw-button-process>
                                    </template>
                                </sw-modal>
                            {% endblock %}
                        </template>
                    {% endblock %}
                </sw-entity-listing>

                {% block sw_customer_role_card_grid_empty_state %}
                    <sw-empty-state
                        v-else
                        class="sw-customer-role-card__grid-empty-state"
                        :showDescription="false"
                        :absolute="false"
                        :icon="'regular-lock'"
                        :title="$tc('sw-customer.role.list.grid.titleEmptyState')"
                    ></sw-empty-state>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-card>
{% endblock %}
