<sw-page class="sw-settings-warehouse-create">
    <template #smart-bar-header>
        <h2>{{ placeholder(warehouse, 'name', $tc('sw-settings-warehouse.create.title')) }}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-button @click.prevent="onCancel">
            {{ $tc('sw-settings-warehouse.detail.buttonCancel') }}
        </sw-button>
        <sw-button-process
            v-if="acl.can('warehouse.editor')"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            variant="primary"
            @process-finish="saveFinish"
            @click.prevent="onSave"
        >
            {{ $tc('sw-settings-warehouse.detail.buttonSave') }}
        </sw-button-process>
    </template>

    <template #content>
        <sw-card-view>
            <sw-skeleton v-if="isLoading" />

            <sw-card
                v-else
                :title="$tc('sw-settings-warehouse.detail.titleCardMain')"
                :is-loading="isLoading"
                position-identifier="sw-settings-warehouse-create-form"
            >
                <sw-field
                    v-model="warehouse.name"
                    type="text"
                    required
                    validation="required"
                    :error="warehouseNameError"
                    :label="$tc('sw-settings-warehouse.detail.labelName')"
                    :placeholder="$tc('sw-settings-warehouse.detail.placeholderName')"
                />

                <sw-field
                    v-model="warehouse.description"
                    type="textarea"
                    :label="$tc('sw-settings-warehouse.detail.labelDescription')"
                    :placeholder="$tc('sw-settings-warehouse.detail.placeholderDescription')"
                />

                <sw-entity-multi-select
                    v-if="acl.can('warehouse-group.viewer')"
                    :criteria="warehouseGroupSelectCriteria"
                    :entity-collection="warehouse.groups"
                    :label="$tc('sw-settings-warehouse.detail.labelGroups')"
                    :placeholder="$tc('sw-settings-warehouse.detail.placeholderGroups')"
                    :help-text="$tc('sw-settings-warehouse.detail.helpTextGroups')"
                    @change="updateGroupCollection"
                ></sw-entity-multi-select>
            </sw-card>
        </sw-card-view>
    </template>
</sw-page>
