{% block sw_social_shopping_channel_sidebar %}
    <sw-sidebar :propagate-width="true"
                class="sw-social-shopping-template-sidebar"
    >
        {% block sw_social_shopping_channel_sidebar_inner %}
            {% block sw_social_shopping_channel_sidebar_inner_variables %}
                <sw-sidebar-item
                    icon="regular-code"
                    :title="$tc('sw-mail-template.detail.sidebar.titleShowAvailableVariables')"
                    :disabled="isLoading || !isTemplatesTabOpen()"
                    class="sw-social-shopping-template-detail__available-variables"
                >
                    <div class="sw-social-shopping-template-detail__available-variables-sidebar-container">
                        {% block sw_social_shopping_channel_sidebar_available_variables_tree %}
                            <sw-tree
                                class="sw-social-shopping-template-detail__available-variables-sidebar-container__tree"
                                :searchable="false"
                                :disable-context-menu="true"
                                :on-change-route="() => { return false; }"
                                :items="loadedAvailableVariables"
                                :sortable="false"
                                @get-tree-items="onGetTreeItems"
                            >
                                {% block sw_social_shopping_channel_sidebar_available_variables_tree_headline %}
                                    <template slot="headline">
                                        <span></span>
                                    </template>
                                {% endblock %}

                                {% block sw_social_shopping_channel_sidebar_available_variables_tree_items %}
                                    <template
                                        slot="items"
                                        slot-scope="{ treeItems, sortable, draggedItem, disableContextMenu, onChangeRoute }"
                                    >
                                        {% block sw_social_shopping_channel_sidebar_available_variables_tree_items_item %}
                                            <sw-tree-item
                                                v-for="(item, index) in treeItems"
                                                :key="item.id"
                                                :item="item"
                                                :disable-context-menu="disableContextMenu"
                                                :on-change-route="onChangeRoute"
                                                :sortable="false"
                                                :display-checkbox="false"
                                            >
                                                {% block sw_social_shopping_channel_sidebar_available_variables_tree_items_item_grip %}
                                                    <template slot="grip">
                                                        <span></span>
                                                    </template>
                                                {% endblock %}

                                                {% block sw_social_shopping_channel_sidebar_available_variables_tree_items_item_actions %}
                                                    <template #actions="{ item }">
                                                        <sw-icon
                                                            v-tooltip="{
                                                                    message: $tc('sw-mail-template.detail.sidebar.copyTooltip'),
                                                                    width: 150,
                                                                    position: 'bottom'
                                                            }"
                                                            name="regular-products-s"
                                                            class="sw-social-shopping-template-detail__copy_icon"
                                                            @click="onCopyVariable(item.schema)"
                                                        />
                                                    </template>
                                                {% endblock %}
                                            </sw-tree-item>
                                        {% endblock %}
                                    </template>
                                {% endblock %}
                            </sw-tree>
                        {% endblock %}
                    </div>
                </sw-sidebar-item>
            {% endblock %}
        {% endblock %}
    </sw-sidebar>
{% endblock %}
