parameters:
	ignoreErrors:
		-
			message: "#^Call to method extendCriteria\\(\\) on an unknown class Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Call to method extendDocuments\\(\\) on an unknown class Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Call to method extendEntities\\(\\) on an unknown class Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Call to method fetch\\(\\) on an unknown class Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Call to method getEntityDefinition\\(\\) on an unknown class Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Call to method getMapping\\(\\) on an unknown class Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:extendDocuments\\(\\) has parameter \\$documents with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:extendDocuments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:extendEntities\\(\\) has parameter \\$collection with generic class Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection but does not specify its types\\: TElement$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:extendEntities\\(\\) return type with generic class Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection does not specify its types\\: TElement$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:fetch\\(\\) has parameter \\$ids with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:fetch\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:fetchCategories\\(\\) has parameter \\$ids with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:fetchCategories\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:fetchDynamicAccessRules\\(\\) has parameter \\$categoryIds with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:fetchDynamicAccessRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:getMapping\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Parameter \\$decorated of method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:__construct\\(\\) has invalid type Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Property Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:\\$decorated has unknown class Swag\\\\EnterpriseSearch\\\\Indexing\\\\AbstractElasticsearchDefinition as its type\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator\\:\\:__construct\\(\\) calls parent\\:\\:__construct\\(\\) but Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecorator does not extend any class\\.$#"
			count: 1
			path: src/ElasticSearch/CategoryEsDefinitionDecorator.php

		-
			message: "#^Call to an undefined method Shopware\\\\Elasticsearch\\\\Framework\\\\AbstractElasticsearchDefinition\\:\\:extendCriteria\\(\\)\\.$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Call to an undefined method Shopware\\\\Elasticsearch\\\\Framework\\\\AbstractElasticsearchDefinition\\:\\:extendDocuments\\(\\)\\.$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Call to an undefined method Shopware\\\\Elasticsearch\\\\Framework\\\\AbstractElasticsearchDefinition\\:\\:extendEntities\\(\\)\\.$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\ProductEsDefinitionDecorator\\:\\:extendDocuments\\(\\) has parameter \\$documents with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\ProductEsDefinitionDecorator\\:\\:extendDocuments\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\ProductEsDefinitionDecorator\\:\\:extendEntities\\(\\) has parameter \\$collection with generic class Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection but does not specify its types\\: TElement$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\ProductEsDefinitionDecorator\\:\\:extendEntities\\(\\) return type with generic class Shopware\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\EntityCollection does not specify its types\\: TElement$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\ProductEsDefinitionDecorator\\:\\:fetchDynamicAccessRules\\(\\) has parameter \\$productIds with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\ProductEsDefinitionDecorator\\:\\:fetchDynamicAccessRules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/ElasticSearch/ProductEsDefinitionDecorator.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\CategoryEsDefinitionDecoratorTest\\:\\:createData\\(\\) is unused\\.$#"
			count: 1
			path: tests/ElasticSearch/CategoryEsDefinitionDecoratorTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/ElasticSearch/CategoryEsDefinitionDecoratorTest.php

		-
			message: "#^Method Swag\\\\DynamicAccess\\\\ElasticSearch\\\\ProductEsDefinitionDecoratorTest\\:\\:createData\\(\\) is unused\\.$#"
			count: 1
			path: tests/ElasticSearch/ProductEsDefinitionDecoratorTest.php

		-
			message: "#^Service \"swag_dynamic_access_product_rule\\.repository\" is not registered in the container\\.$#"
			count: 1
			path: tests/ElasticSearch/ProductEsDefinitionDecoratorTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/ElasticSearch/ProductEsDefinitionDecoratorTest.php

		-
			message: "#^Offset 'file' does not exist on array\\{function\\: string, line\\?\\: int, file\\?\\: string, class\\?\\: class\\-string, type\\?\\: '\\-\\>'\\|'\\:\\:', args\\?\\: array, object\\?\\: object\\}\\.$#"
			count: 1
			path: tests/TestBootstrapper.php
