{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_result_price %}
    {% set ScDB2BInquiry = config('ScDB2BInquiry') %}

    {% if ((ScDB2BInquiry.config.ScDInquiryBasketType == "typeActivated" or
        (ScDB2BInquiry.config.ScDInquiryBasketType == "typeProductspecific" and product.translated.customFields.scd_activate_inquiry_basket))
        or (scdRule !== null and ScDB2BInquiry.config.ScDInquiryBasketType == "typeRule" and (scdRule in activeRules)))
        and (context.currentCustomerGroup.customFields.scd_customergroup_hideinquiry != true) %}
        {% set scdShowPrice = false %}
    {% else %}
        {% set scdShowPrice = true %}
    {% endif %}

    {% if scdShowPrice %}
        {% if context.customer or (not context.customer and ScDB2BInquiry.config.scdHideLoggedOutPrices == null) %}
            {{ parent() }}
        {% endif %}
    {% else %}
        <div class="col-auto search-suggest-product-price">{{ "scd.inquiryPrice"|trans|sw_sanitize }}</div>
    {% endif %}
{% endblock %}