{% block sw_cms_element_text %}
    <div
        v-if="getLicense('CONTENT_GENERATOR-5780304')"
        class="sw-cms-el-text-ai"
        @mouseup="onExtendedSelectionChange"
        @keyup="onExtendedSelectionChange"
        @click="onMultipleClick"
    >
        {% parent %}

        <div
            v-show="showPopupAI"
            class="sw-cms-el-text-ai__popup"
            :class="{ 'sw-cms-el-text-ai__popup--selected ': selectedText }"
            ref="popupAI"
            tabindex="0"
        >
            <sw-text-field-ai
                placeholder="Ask the content assistant"
                size="small"
                :value="promptText"
                :selectedText="text"
                :isRetryAble="isRetryAble"
                :isLoading="isLoading"
                :error ="errorField"
                @change="onChangeInput"
                @keyup.enter="onSubmit"
                @submit-retry="onSubmit"
                @submit-cancel="onCancel"
            />
            <p class="sw-cms-el-text-ai__description">
                <sw-icon name="solid-exclamation-circle" size="12" />
                {{ $tc('sw-cms-generation.description') }}
            </p>
        </div>

        <sw-modal
            v-if="showModal"
            :title="$tc('sw-cms-generation.modalTitle')"
            @modal-close="onClosePopup"
        >
            {{ $tc('sw-cms-generation.modalContent') }}
            <template #modal-footer>
                <sw-button
                    size="small"
                    @click="onCloseModal"
                >
                    {{ $tc('global.default.cancel') }}
                </sw-button>

                <sw-button
                    size="small"
                    @click="onClosePopup"
                    variant="danger"
                >
                    {{ $tc('global.default.confirm') }}
                </sw-button>
            </template>
        </sw-modal>
    </div>
    <div v-else>
        {% parent %}
    </div>
{% endblock %}
