<sw-page class="sw-settings-reviews-index">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_reviews_search_bar %}
        <template #search-bar>
            <sw-search-bar />
        </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_reviews_header %}
        <template #smart-bar-header>
            <h2>{{ $tc('sw-settings.index.title') }} <sw-icon
                    name="regular-chevron-right-xs"
                    small
                /> {{ $tc('sw-settings-translator.general.title') }} </h2>
        </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_reviews_smart_bar_actions %}
        <template #smart-bar-actions>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_reviews_actions_save %}
                <sw-button-process
                    class="sw-settings-reviews__save-action"
                    :is-loading="isLoading"
                    :process-success="isSaveSuccessful"
                    :disabled="isLoading"
                    variant="primary"
                    @process-finish="saveFinish"
                    @click="onSave"
                >
                    {{ $tc('sw-settings-translator.detail.buttonSave') }}
                </sw-button-process>
            {% endblock %}
        </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_reviews_content %}
        <template #content>
            <sw-card-view>
                <sw-skeleton v-if="isLoading" />

                <sw-system-config
                    v-show="!isLoading"
                    ref="systemConfig"
                    sales-channel-switchable
                    domain="TextTranslator.reviewTranslator"
                    @loading-changed="onLoadingChanged"
                />

            </sw-card-view>
        </template>
    {% endblock %}
</sw-page>
