<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Na15 Extended Filter Labels</title>
        <title lang="de-DE">Na15 Erweiterte Filternamen</title>

        <input-field type="bool">
            <name>showPropertyDescription</name>
            <label>Show property description (if filled) after chosen filter value (e.g. "mm" for property "Length")</label>
            <label lang="de-DE">Zeige die Eigenschaftsbeschreibung (falls befüllt) nach dem ausgewählten Filterwert (z.B. "mm" für die Eigenschaft "Länge")</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showPropertyName</name>
            <label>Show property name before chosen filter value (e.g. "Length:" for property "Length")</label>
            <label lang="de-DE">Zeige den Eigenschaftsname vor dem ausgewählten Filterwert (z.B. "Länge:" für die Eigenschaft "Länge")</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
