{% block sw_product_detail_reviews %}
{% parent %}
<div
    v-if="getLicense('REVIEW_SUMMARY-8147095') && !isLoading && total && visibleReviewsTotal > 0"
    class="sw-product-detail-reviews-summary"
>
    <sw-confirm-modal
        v-if="deleteConfirmModalShown"
        type="delete"
        :text="$tc('sw-product-detail-review-summary.deleteConfirm')"
        @confirm="onDeleteSummary"
        @cancel="deleteConfirmModalShown = false"
        @close="deleteConfirmModalShown = false"
    />

    <sw-modal
        class="sw-product-detail-reviews-summary__generate"
        v-if="showGenerateModal"
        :title="$tc('sw-product-detail-review-summary.titleGenerate')"
        @modal-close="onCloseGenerateModal"
    >
        <template #modal-title>
            <h4
                id="modalTitleEl"
                class="sw-modal__title"
            >
                {{ $tc('sw-product-detail-review-summary.titleGenerate') }}
                <sw-ai-copilot-badge />
            </h4>
        </template>

        <sw-skeleton v-if="isGenerating" />

        <template v-else>
            <sw-alert
                v-if="generateStatus === 'success'"
                variant="success"
                :title="$tc('sw-product-detail-review-summary.alerts.successTitle')"
            >
                {{ $tc('sw-product-detail-review-summary.alerts.successText') }}
            </sw-alert>

            <sw-alert
                v-if="generateStatus === 'error'"
                variant="error"
                :title="$tc('sw-product-detail-review-summary.alerts.errorTitle')"
            >
                {{ $tc('sw-product-detail-review-summary.alerts.errorText') }}
            </sw-alert>

            <sw-single-select
                :label="$tc('sw-product-detail-review-summary.fieldLabels.phrasing')"
                class="sw-product-detail-reviews-summary__phrasing"
                :options="phrasingOptions"
                v-model="phrasing"
                :disabled="isGenerating"
            />

            <sw-field
                class="sw-product-detail-reviews-summary__textarea"
                :label="$tc('sw-product-detail-review-summary.fieldLabels.textarea')"
                :placeholder="placeholder(product.extensions.reviewSummaries[0], 'summary', '')"
                type="textarea"
                v-model="tempSummary"
                :disabled="isGenerating"
            />
            <sw-ai-copilot-warning />
        </template>

        <sw-button
            class="sw-product-detail-reviews-summary__re-generate"
            variant="ghost"
            size="small"
            :isLoading="isGenerating"
            @click="onGenerateReviewSummary"
            v-tooltip.top="{ message: $tc('sw-product-detail-review-summary.actions.renewOverrideWarning') }"
        >
            <sw-icon
                name="regular-undo"
                small
            />
            {{ $tc('sw-product-detail-review-summary.actions.renew') }}
        </sw-button>

        <template #modal-footer>
            <sw-button
                class="sw-product-detail-reviews-summary__cancel-action"
                size="small"
                @click="onCloseGenerateModal"
            >
                {{ $tc('global.default.cancel') }}
            </sw-button>

            <sw-button
                class="sw-product-detail-reviews-summary__apply-action"
                variant="primary"
                :disabled="isGenerating"
                size="small"
                @click="onApply"
            >
                {{ $tc('global.default.apply') }}
            </sw-button>
        </template>
    </sw-modal>

    <sw-card
        v-if="product.extensions.reviewSummaries.first() && product.extensions.reviewSummaries.first().summary"
        class="sw-product-detail-reviews-summary__content"
        :title="$tc('sw-product-detail-review-summary.title')"
        position-identifier="sw-product-detail-review-summary"
    >
        <template #title>
            <div class="sw-card__title">
                {{ $tc('sw-product-detail-review-summary.title') }}
                <sw-ai-copilot-badge />
            </div>
        </template>

        <template #header-right>
            <sw-switch-field
                v-model="product.extensions.reviewSummaries.first().visible"
                :label="$tc('sw-product-detail-review-summary.fieldLabels.visible')"
            />

            <sw-context-button>
                <sw-context-menu-item
                    class="sw-product-detail-reviews-summary__edit-action"
                    @click="onEdit"
                >
                    {{ $tc('global.default.edit') }}
                </sw-context-menu-item>
                <sw-context-menu-item
                    class="sw-product-detail-reviews-summary__delete-action"
                    @click="confirmDelete(product.extensions.reviewSummaries.first().id)"
                    variant="danger"
                >
                    {{ $tc('global.default.delete') }}
                </sw-context-menu-item>
            </sw-context-button>
        </template>

        <div class="product-detail-reviews-summary__text">
            {{ product.extensions.reviewSummaries.first().summary }}
        </div>
    </sw-card>

    <div
        v-else
        class="sw-product-detail-reviews-summary__empty-state">
        <sw-alert
            class="sw-product-detail-reviews-summary__empty-state-alert"
            variant="info"
            icon="solid-sparkles"
            title="AI Copilot"
        >
            <p class="sw-product-detail-reviews-summary__empty-state-text">
                {{ $tc('sw-product-detail-review-summary.emptyState.text') }}
            </p>

            <sw-button
                class="sw-product-detail-reviews-summary__generate-action"
                @click.prevent="initGenerate"
                size="small"
            >
                <sw-icon
                    name="solid-sparkles"
                    size="14px"
                />
                {{ $tc('sw-product-detail-review-summary.emptyState.createAction') }}
            </sw-button>
        </sw-alert>
        <sw-ai-copilot-warning />
    </div>
</div>
{% endblock %}
