{% block sw_customer_employee_create %}
<sw-page class="sw-customer-employee-create">
    {% block sw_customer_employee_create_header %}
    <template #smart-bar-header>
        <h2>{{ $tc('sw-customer.employee.titleCreate') }}</h2>
    </template>
    {% endblock %}

    {% block sw_customer_employee_create_actions %}
    <template #smart-bar-actions>
        <sw-button @click="onCancel">
            {{ $tc('global.default.cancel') }}
        </sw-button>

        <sw-button-process
            class="sw-customer-employee-create__save-button"
            variant="primary"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            @click.prevent="onSave"
        >
            {{ $tc('sw-customer.employee.buttonCreate') }}
        </sw-button-process>
    </template>
    {% endblock %}

    {% block sw_customer_employee_create_content %}
    <template #content>
        <sw-card-view>
            {% block sw_customer_employee_create_content_card %}
            <sw-card
                v-if="entity"
                class="sw-customer-employee-create__basic-information-card"
                positionIdentifier="sw-customer-employee-create"
                :title="$tc('sw-customer.employee.titleEmployeeData')"
                :subtitle="$tc('sw-customer.employee-management.warningEdit')"
                :isLoading="isLoading"
            >
                <sw-container
                    columns="auto"
                    gap="0 1rem"
                >
                    {% block sw_customer_employee_create_content_card_first_name %}
                    <sw-field
                        v-model="entity.firstName"
                        class="sw-customer-employee-create__basic-information-card-first-name-field"
                        type="text"
                        required
                        validation="required"
                        :error="errorFirstName"
                        :label="$tc('sw-customer.employee.labelFirstName')"
                        :placeholder="$tc('sw-customer.employee.placeholderFirstName')"
                    ></sw-field>
                    {% endblock %}

                    {% block sw_customer_employee_create_content_card_last_name %}
                    <sw-field
                        v-model="entity.lastName"
                        class="sw-customer-employee-create__basic-information-card-last-name-field"
                        type="text"
                        required
                        validation="required"
                        :error="errorLastName"
                        :label="$tc('sw-customer.employee.labelLastName')"
                        :placeholder="$tc('sw-customer.employee.placeholderLastName')"
                    ></sw-field>
                    {% endblock %}

                    {% block sw_customer_employee_create_content_card_email %}
                    <sw-field
                        v-model="entity.email"
                        class="sw-customer-employee-create__basic-information-card-email-field"
                        type="email"
                        required
                        validation="required"
                        :error="errorEmail"
                        :label="$tc('sw-customer.employee.labelEmail')"
                        :placeholder="$tc('sw-customer.employee.placeholderEmail')"
                    ></sw-field>
                    {% endblock %}

                    {% block sw_customer_employee_create_content_card_role %}
                    <sw-entity-single-select
                        v-model="entity.roleId"
                        class="sw-customer-employee-create__basic-information-card-role-field"
                        entity="b2b_components_role"
                        :criteria="roleCriteria"
                        label-property="name"
                        :label="$tc('sw-customer.employee.labelRole')"
                        :placeholder="$tc('sw-customer.employee.labelRole')"
                        :resetOption="$tc('sw-customer.employee.placeholderRole')"
                    >
                        <template #selection-label-property="{ item }">
                            <div>
                                {{ item.name }}<span v-if="defaultRoleId && item.id === defaultRoleId"> {{ $tc('sw-customer.employee.labelRoleDefault') }}</span>
                            </div>
                        </template>

                        <template #result-label-property="{ item }">
                            <div>
                                {{ item.name }}<span v-if="defaultRoleId && item.id === defaultRoleId"> {{ $tc('sw-customer.employee.labelRoleDefault') }}</span>
                            </div>
                        </template>
                    </sw-entity-single-select>
                    {% endblock %}
                </sw-container>
            </sw-card>
            {% endblock %}
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
