{% block sw_customer_employee_create_header %}
    <template #smart-bar-header>
        <h2>{{ $tc('sw-customer.employee.titleDetail') }}</h2>
    </template>
{% endblock %}

{% block sw_customer_employee_create_actions %}
    <template #smart-bar-actions>
        <sw-button @click="onCancel">
            {{ $tc('global.default.cancel') }}
        </sw-button>

        <sw-button-process
            class="sw-customer-employee-detail__save-button"
            variant="primary"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            @click.prevent="onSave"
        >
            {{ $tc('global.default.save') }}
        </sw-button-process>
    </template>
{% endblock %}

{% block sw_customer_employee_create_content_card %}
    {% parent %}

    {% block sw_customer_employee_detail_card_delete %}
    <sw-card
        class="sw-customer-employee-detail__delete-card"
        v-if="acl.can('b2b_employee_management.deleter') && entity"
        :title="$tc('sw-customer.employee.titleDelete')"
        :is-loading="isLoading"
        positionIdentifier="sw-customer-employee-detail-delete"
    >
        {% block sw_customer_employee_detail_card_delete_content %}
            <div class="sw-customer-employee-detail__delete-card-container">
                <div>{{ $tc('sw-customer.employee.warningDelete') }}</div>

                <sw-button
                    variant="ghost-danger"
                    size="small"
                    @click="showDeleteModal = true"
                >
                    {{ $tc('global.default.delete') }}
                </sw-button>
            </div>
        {% endblock %}

        {% block sw_customer_employee_detail_card_delete_modal %}
        <sw-modal
            v-if="showDeleteModal"
            variant="small"
            :title="$tc('sw-customer.employee.titleDelete')"
            @modal-close="onCloseDeleteModal"
        >
            <p>{{ $tc('sw-customer.employee.descriptionDelete', 0, { name: getFullName() }) }}</p>

            <template #modal-footer>
                <sw-button
                    size="small"
                    @click="onCloseDeleteModal"
                >
                    {{ $tc('global.default.cancel') }}
                </sw-button>

                <sw-button-process
                    variant="danger"
                    size="small"
                    :is-loading="isLoadingDelete"
                    :process-success="isDeleteSuccessful"
                    @process-finish="onDeleteFinish"
                    @click.prevent="onConfirmDelete"
                >
                    {{ $tc('global.default.delete') }}
                </sw-button-process>
            </template>
        </sw-modal>
        {% endblock %}
    </sw-card>
    {% endblock %}
{% endblock %}
