{% block sw_import_export_view_export_exporter %}
<sw-alert
    v-if="!useExportAssistant"
    class="sw-import-export-view-export__alert"
    :title="$tc('swag-export-assistant.alert.title')"
>
    <template #customIcon>
        <sw-icon
            class="sw-import-export-view-export__alert-icon"
            name="solid-sparkles"
            color="#0870ff"
            size="20px"
        />
    </template>

    <template #default>
        <p v-html="$tc('swag-export-assistant.alert.message')"></p>

        <sw-button
            class="sw-import-export-view-export__alert-button"
            size="small"
            @click="toggleUseExportAssistant"
        >
            <sw-icon
                name="solid-sparkles"
                color="#0870ff"
                size="16px"
            />
            <span>
                {{ $tc('swag-export-assistant.alert.action') }}
            </span>
        </sw-button>
    </template>
</sw-alert>

<sw-card
    position-identifier="sw-import-export-view-export"
    :title="cardTitle"
>
    <template #title>
        <div :class="cardTitleClasses">
            {{ cardTitleContent }}
            <sw-ai-copilot-badge
                v-if="useExportAssistant"
            />
        </div>
    </template>

    <template #subtitle>
        <sw-context-button v-if="useExportAssistant">
            <sw-context-menu-item
                class="sw-import-export-view-export__button-disable-ai-copilot"
                @click="toggleUseExportAssistant"
            >
                {{ $tc('swag-export-assistant.base.buttonDisableAICopilot') }}
            </sw-context-menu-item>
        </sw-context-button>
    </template>

    <template #default>
        <swag-export-assistant-base
            v-if="useExportAssistant"
            @export-started="reloadContent"
        />
        <sw-import-export-exporter
            v-else
            @export-started="reloadContent"
        />
    </template>
</sw-card>

<div
    v-if="useExportAssistant"
    class="sw-import-export-view-export__warning-message"
>
    <sw-ai-copilot-warning />
</div>
{% endblock %}
