{% block sw_cms_sidebar_navigator %}
    {% parent %}

    {% block publisher_cms_sidebar_activity %}
    <publisher-activity-feed></publisher-activity-feed>
    {% endblock %}
{% endblock %}

{% block sw_cms_sidebar_layout_assignment %}
<sw-sidebar-item
    ref="layoutAssignment"
    class="sw-cms-sidebar__layout-assignment"
    icon="regular-share"
    :title="$tc('sw-cms.detail.sidebar.titleLayoutAssignment')"
    :disabled="page.locked || disabled || isDraft"
>
    {% block sw_cms_sidebar_layout_assignment_content %}
    <div class="sw-cms-sidebar__layout-assignment-content">
        {% block sw_cms_sidebar_layout_assignment_headline %}
        <h3 class="sw-cms-sidebar__layout-assignment-headline">
            {{ $tc('sw-cms.sidebar.layoutAssignment.headline') }}
        </h3>
        {% endblock %}

        {% block sw_cms_sidebar_layout_assignment_info_text %}
        <p class="sw-cms-sidebar__layout-assignment-info-text">
            {{ $tc('sw-cms.sidebar.layoutAssignment.infoText') }}
        </p>
        {% endblock %}

        {% block sw_cms_sidebar_layout_assignment_action_open %}
        <sw-button
            variant="ghost"
            size="small"
            class="sw-cms-sidebar__layout-assignment-open"
            @click="onOpenLayoutAssignment"
        >
            {{ $tc('sw-cms.sidebar.layoutAssignment.actionAssignLayout') }}
        </sw-button>
        {% endblock %}
    </div>
    {% endblock %}

    <div
        v-if="showDefaultLayoutSelection"
        class="sw-cms-sidebar__layout-set-as-default-content"
    >
        <h3 class="sw-cms-sidebar__layout-set-as-default-headline">
            {{ $tc('sw-cms.sidebar.layoutSetAsDefault.headline') }}
        </h3>

        <p class="sw-cms-sidebar__layout-set-as-default-info-text">
            {{ $tc('sw-cms.sidebar.layoutSetAsDefault.infoText') }}
        </p>

        <sw-button
            variant="ghost"
            size="small"
            class="sw-cms-sidebar__layout-set-as-default-open"
            @click="onOpenLayoutSetAsDefault"
        >
            {{ $tc('sw-cms.sidebar.layoutSetAsDefault.actionSetAsDefaultLayout') }}
        </sw-button>
    </div>
</sw-sidebar-item>
{% endblock %}
