{% block subscription_submit_disclaimer %}
    <div class="subscription-submit-disclaimer mb-3 text-muted">
        {{ "commercial.subscriptions.confirm.submitDisclaimer"|trans|sw_sanitize }}
    </div>
{% endblock %}
