{% block block_image_text_row %}
	{% set columns = 5 %}
	{% set id = element.id %}

	{% block block_image_text_row_1 %}
		<div class="box-item-5-colums">
			<div class="item">
				{% block block_image_text_row_1_image %}
					{% set element = block.slots.getSlot('item1_Top') %}

					<div class='box-cms-element-image'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_text_row_1_text %}
					{% set element = block.slots.getSlot('item1_Bottom') %}

					<div class='box-cms-element-text'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	{% block block_image_text_row_2 %}
		<div class="box-item-5-colums">
			<div class="item">
				{% block block_image_text_row_2_image %}
					{% set element = block.slots.getSlot('item2_Top') %}

					<div class='box-cms-element-image'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_text_row_2_text %}
					{% set element = block.slots.getSlot('item2_Bottom') %}

					<div class='box-cms-element-text'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	{% block block_image_text_row_3 %}
		<div class="box-item-5-colums">
			<div class="item">
				{% block block_image_text_row_3_image %}
					{% set element = block.slots.getSlot('item3_Top') %}

					<div class='box-cms-element-image'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_text_row_3_text %}
					{% set element = block.slots.getSlot('item3_Bottom') %}

					<div class='box-cms-element-text'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	{% block block_image_text_row_4 %}
		<div class="box-item-5-colums">
			<div class="item">
				{% block block_image_text_row_4_image %}
					{% set element = block.slots.getSlot('item4_Top') %}

					<div class='box-cms-element-image'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_text_row_4_text %}
					{% set element = block.slots.getSlot('item4_Bottom') %}

					<div class='box-cms-element-text'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	{% block block_image_text_row_5 %}
		<div class="box-item-5-colums">
			<div class="item">
				{% block block_image_text_row_5_image %}
					{% set element = block.slots.getSlot('item5_Top') %}

					<div class='box-cms-element-image'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}

				{% block block_image_text_row_5_text %}
					{% set element = block.slots.getSlot('item5_Bottom') %}

					<div class='box-cms-element-text'>
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
					</div>
				{% endblock %}
			</div>
		</div>
	{% endblock %}

{% endblock %}
