{% block swag_customized_products_option_type_template_colorselect %}
    {% set optionValuesMediaIds = [] %}
    {% for optionValue in optionValues %}
        {% if optionValue.getValue._value %}
            {% set optionValuesMediaIds = optionValuesMediaIds|merge([optionValue.getValue._value]) %}
        {% endif %}
    {% endfor %}
    {% set optionValuesMediaCollection = searchMedia(optionValuesMediaIds, context.context) %}

    <div class="swag-customized-products-option-type-select-wrapper">
        {% sw_include fileName ~ '/selections.html.twig' %}
    </div>
{% endblock %}
