{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_image_placeholder %}
    <div class="product-image-placeholder">
        <img src='/bundles/compumess/assets/no-picture.jpg' />
    </div>
{% endblock %}
