{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_row %}
    <div class="row cms-listing-row js-listing-wrapper">
        {% if searchResult.total > 0 %}
            {% block element_product_listing_col %}
                {% if boxLayout == 'standard' %}
                    {% for product in searchResult %}
                        {{ dump(product) }}
                        <div class="ec-list-product-custom cms-listing-col col-12">
                            {% sw_include '@Storefront/storefront/component/product/card/box-standard-ecentura.html.twig' %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for product in searchResult %}
                        <div class="cms-listing-col {{ listingColumns }}">
                            {% block element_product_listing_box %}
                                {{ parent() }}
                            {% endblock %}
                        </div>
                    {% endfor %}
                {% endif %}

            {% endblock %}
        {% else %}
            {% block element_product_listing_col_empty %}
                {{ parent() }}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
