{% block sw_customer_list_grid_columns %}
    {% parent %}
    <template #column-tags="{ item }">
        <sw-entity-tag-select
            :entityCollection="item.tags"
            label=""
            :value-limit="2"
            class="sw-customer-card__tag-select"
            disabled
            size="medium"
        />
    </template>

    <template #bulk-additional>
        <a
            v-if="hasToggleKey"
            class="link link-primary sw-customer-list-grid__button-classify"
            @click="onClickClassify"
        >
            {{ $tc('swag-customer-classification.buttonClassify') }}
        </a>
    </template>
{% endblock %}

{% block sw_customer_list_bulk_edit_modal %}
    <template
        #bulk-edit-modal="{ selection }"
    >
        <sw-bulk-edit-modal
            v-if="showBulkEditModal"
            ref="bulkEditModal"
            class="sw-customer-bulk-edit-modal"
            :selection="selection"
            :bulk-grid-edit-columns="customerColumns"
            @edit-items="onBulkEditItems"
            @modal-close="onBulkEditModalClose"
        >
            <template #column-tags="{ item }">
                <sw-entity-tag-select
                    :entityCollection="item.tags"
                    label=""
                    :value-limit="2"
                    class="sw-customer-card__tag-select"
                    disabled
                    size="medium"
                />
            </template>

            <template #column-firstName="{ item }">
                <router-link
                    :to="{ name: 'sw.customer.detail', params: { id: item.id } }"
                    target="_blank"
                    rel="noreferrer noopener"
                >
                    {{ item.lastName }}, {{ item.firstName }}
                </router-link>
            </template>

            <template #column-group="{ item }">
                <sw-label
                    v-if="item.requestedGroup"
                    class="sw-customer-list__requested-group-label"
                    variant="warning"
                    appearance="pill"
                >
                    {{ $tc('sw-customer.list.columnGroupRequested') }} {{ item.requestedGroup.translated.name }}
                </sw-label>
                <sw-label
                    v-else
                    size="default"
                    appearance="pill"
                >
                    {{ item.group.translated.name }}
                </sw-label>
            </template>
        </sw-bulk-edit-modal>
    </template>
{% endblock %}
