{% block sw_cms_block_image_text_5_colums %}
	<div class="sw-cms-block-image-text-5-colums">
		<div class="item">
			<slot name="item1_Top">
				{% block sw_cms_block_image_text_5_colums_slot_item1_Top %}{% endblock %}
			</slot>
			<slot name="item1_Bottom">
				{% block sw_cms_block_image_text_5_colums_slot_item1_Bottom %}{% endblock %}
			</slot>
		</div>
		<div class="item">
			<slot name="item2_Top">
				{% block sw_cms_block_image_text_5_colums_slot_item2_Top %}{% endblock %}
			</slot>
			<slot name="item2_Bottom">
				{% block sw_cms_block_image_text_5_colums_slot_item2_Bottom %}{% endblock %}
			</slot>
		</div>
		<div class="item">
			<slot name="item3_Top">
				{% block sw_cms_block_image_text_5_colums_slot_item3_Top %}{% endblock %}
			</slot>
			<slot name="item3_Bottom">
				{% block sw_cms_block_image_text_5_colums_slot_item3_Bottom %}{% endblock %}
			</slot>
		</div>
		<div class="item">
			<slot name="item4_Top">
				{% block sw_cms_block_image_text_5_colums_slot_item4_Top %}{% endblock %}
			</slot>
			<slot name="item4_Bottom">
				{% block sw_cms_block_image_text_5_colums_slot_item4_Bottom %}{% endblock %}
			</slot>
		</div>
		<div class="item">
			<slot name="item5_Top">
				{% block sw_cms_block_image_text_5_colums_slot_item5_Top %}{% endblock %}
			</slot>
			<slot name="item5_Bottom">
				{% block sw_cms_block_image_text_5_colums_slot_item5_Bottom %}{% endblock %}
			</slot>
		</div>
	</div>
{% endblock %}
