{% block layout_search_suggest_result_category_header %}
	<div class="row align-items-center">
		<div class="col">
			<span class="suggest-result-header">{{ "general.categories"|trans }}</span>
		</div>
	</div>
{% endblock %}

{% block layout_search_suggest_result_category_listing %}
	<ul class="suggest-product-listing">
		{% for category in categories %}
			<li class="search-suggest-item js-result px-2">
				<a href="{{ seoUrl('frontend.navigation.page', { 'navigationId': category.id}) }}"
                   title="{{ category.translated.name }}"
                   class="search-suggest-product-link search-suggest-product-name"
                >
					{{ category.translated.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
