<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Rounding of the percentage discounts</title>
        <title lang="de-DE">Rundung der prozentuellen Rabattanzeige</title>

        <component name="sw-alert">
            <name>infoText</name>
            <variant>info</variant>
            <title>Die Konfiguration der Rundung kann in folgenden Plugins vorgenommen werden: ACRIS Rabattgruppen, ACRIS Kundenspezifische Preise und ACRIS Rabatte &amp; Aktionen im Listing. Werden mehrere dieser Plugins verwendet, bitte bei allen Plugins die gleichen Konfigurationen vornehmen.</title>
        </component>

        <input-field type="single-select">
            <name>decimalPlaces</name>
            <defaultValue>2</defaultValue>
            <options>
                <option>
                    <id>0</id>
                    <name>0</name>
                    <name lang="de-DE">0</name>
                </option>
                <option>
                    <id>1</id>
                    <name>1</name>
                    <name lang="de-DE">1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2 (Shopware default)</name>
                    <name lang="de-DE">2 (Shopware Standard)</name>
                </option>
            </options>
            <label>Decimal places</label>
            <label lang="de-DE">Anzahl der Kommastellen</label>
        </input-field>

        <input-field type="single-select">
            <name>typeOfRounding</name>
            <defaultValue>commercial</defaultValue>
            <options>
                <option>
                    <id>commercial</id>
                    <name>Round commercial</name>
                    <name lang="de-DE">Kaufmännisch runden</name>
                </option>
                <option>
                    <id>roundOff</id>
                    <name>Round off</name>
                    <name lang="de-DE">Abrunden</name>
                </option>
                <option>
                    <id>roundUp</id>
                    <name>Round up</name>
                    <name lang="de-DE">Aufrunden</name>
                </option>
            </options>
            <label>Type of rounding</label>
            <label lang="de-DE">Rundungsart</label>
        </input-field>
    </card>
</config>
