<div
    :class="'sw-flow-sequence-modal-error sw-flow-sequence-modal-error--' + errorType"
>
    <span class="sw-flow-sequence-modal-error__heading">
        {{ getErrorTitle(sequence.actionName) }}
    </span>

    <div class="sw-flow-sequence-modal-error__list-wrap">
        <ul class="sw-flow-sequence-modal-error__list">
            <li
                v-for="(value, key) in errorData"
                :key="key"
                class="sw-flow-sequence-modal-error__list-item"
            >
                {{ value.name || value.mailTemplateTypeName }}
            </li>
        </ul>
    </div>
</div>
