<sw-card
    class="sw-settings-warehouse-group-warehouses"
    :title="showListing ? $tc('sw-settings-warehouse-group.warehouseAssignment.titleCard') : ''"
    position-identifier="sw-settings-warehouse-group-warehouses"
>
    <template
        #toolbar
        v-if="showListing"
    >
        <sw-card-filter
            :disabled="isLoading"
            @sw-card-filter-term-change="onChangeSearchTerm"
        />

        <sw-button
            variant="ghost"
            size="small"
            :disabled="isLoading"
            @click="onClickAddWarehouses"
        >
            {{ $tc('sw-settings-warehouse-group.warehouseAssignment.buttonAddWarehouses') }}
        </sw-button>
    </template>

    <template #grid>
        <sw-entity-listing
            v-if="showListing"
            :disableDataFetching="localMode"
            :allow-inline-edit="!localMode"
            :repository="repository"
            :columns="columns"
            :items="warehouseGroupWarehouses"
            :plain-appearance="false"
            :full-page="false"
            :show-selection="false"
            :is-loading="isLoading"
            :criteria-limit="limit"
            :allow-view="acl.can('warehouse.viewer')"
            :allow-edit="acl.can('warehouse-group.editor')"
            :allow-delete="acl.can('warehouse-group.editor')"
            @update-records="onUpdateRecords"
        >
            <template #actions="{ item }">
                <sw-context-menu-item
                    v-if="acl.can('warehouse-group.editor')"
                    @click="showDeleteModal = item.id"
                    variant="danger"
                >
                    {{ $tc('sw-settings-warehouse-group.warehouseAssignment.actionDeleteWarehouse') }}
                </sw-context-menu-item>
            </template>

            <template #action-modals="{ item }">
                <sw-modal
                    v-if="showDeleteModal === item.id"
                    :title="$tc('global.default.warning')"
                    variant="small"
                    @modal-close="onCancelDelete"
                >
                    <p>
                        {{ $tc('sw-settings-warehouse-group.warehouseAssignment.textDeleteConfirm-1') }}<br>
                        {{ $tc('sw-settings-warehouse-group.warehouseAssignment.textDeleteConfirm-2') }}<b>{{ item.warehouse.name }}</b>{{ $tc('sw-settings-warehouse-group.warehouseAssignment.textDeleteConfirm-3') }}
                    </p>

                    <template #modal-footer>
                        <sw-button
                            size="small"
                            @click="onCancelDelete"
                        >
                            {{ $tc('sw-settings-warehouse-group.warehouseAssignment.buttonCancel') }}
                        </sw-button>

                        <sw-button
                            variant="danger"
                            size="small"
                            @click="onConfirmDelete(item)"
                        >
                            {{ $tc('sw-settings-warehouse-group.warehouseAssignment.buttonDelete') }}
                        </sw-button>
                    </template>
                </sw-modal>
            </template>
        </sw-entity-listing>

        <sw-empty-state
            v-else
            :title="$tc('sw-settings-warehouse-group.warehouseAssignment.titleWhitespace')"
            class="sw-settings-warehouse-group-warehouses__whitespace"
        >
            <template #icon>
                <img
                    :src="'/administration/static/img/empty-states/settings-empty-state.svg' | asset"
                    :alt="$tc('sw-empty-state.messageNoResultTitle')"
                >
            </template>

            <template #default>
                <sw-button
                    variant="ghost"
                    size="small"
                    @click="onClickAddWarehouses"
                >
                    {{ $tc('sw-settings-warehouse-group.warehouseAssignment.whitespaceButtonAdd') }}
                </sw-button>
            </template>
        </sw-empty-state>

        <sw-warehouse-selection
            v-if="showSelectionModal"
            :initial-selection="selectedWarehouseIds"
            :warehouse-group-id="warehouseGroupId"
            @modal-close="showSelectionModal = false"
            @confirm-selection="onConfirmSelection"
        ></sw-warehouse-selection>
    </template>
</sw-card>
