/.gitlab export-ignore
/adr export-ignore
/changelog export-ignore
/tests export-ignore
/.bc-exclude.php export-ignore
/.gitlab-ci.yml export-ignore
/CHANGELOG_*.md export-ignore
/ecs.php export-ignore
/phpbench.json export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/src/Resources/store/ export-ignore
