<div class="sw-settings-subscription-plans">
    <sw-card
        position-identifier="sw-settings-subscription-plans"
        :title="$tc('commercial.subscriptions.settings.plan.title')"
    >

        <template #toolbar>
            <sw-card-filter
                v-if="(plans && plans.length > 0) || term"
                @sw-card-filter-term-change="onTermChange"
            >
                <template #filter>
                    <sw-button
                        class="sw-settings-subscription-plans__add-plan"
                        variant="ghost"
                        size="small"
                        :router-link="{ name: 'sw.settings.subscription.planCreate' }"
                        :disabled="!acl.can('plans_and_intervals.creator')"
                    >
                        {{ $tc('commercial.subscriptions.subscriptions.listing.buttonAddPlan') }}
                    </sw-button>
                </template>
            </sw-card-filter>
        </template>

        <template
            v-if="(plans && plans.length > 0) || term"
            #grid
        >
            <sw-entity-listing
                :repository="planRepository"
                :is-loading="isLoading"
                :columns="planColumns"
                :items="plans"
                :show-settings="false"
                :show-selection="false"
                :allow-column-edit="false"
                :allow-edit="acl.can('plans_and_intervals.editor')"
                :allow-inline-edit="false"
                :allow-view="acl.can('plans_and_intervals.viewer')"
                :allow-delete="acl.can('plans_and_intervals.deleter')"
                :full-page="false"
                detail-route="sw.settings.subscription.planDetail"
                @delete-item-finish="onDeleteFinish"
                @items-delete-finish="onDeleteFinish"
            >
                <template #column-name="{ item }">
                    <router-link
                        :to="{ name: 'sw.settings.subscription.planDetail', params: { id: item.id } }"
                    >
                        {{ item.translated.name || item.name }}
                    </router-link>
                </template>

                <template #column-active="{ item }">
                    <sw-icon
                        v-if="item.active"
                        name="regular-checkmark-xs"
                        small
                        class="is--active"
                    />
                    <sw-icon
                        v-else
                        name="regular-times-s"
                        small
                        class="is--inactive"
                    />
                </template>

                <template #delete-confirm-text>
                    <p class="sw-settings-subscription-plans__delete-modal__info-text">
                        {{ $tc('commercial.subscriptions.settings.plan.deleteModalInfoText') }}
                    </p>

                    <br>

                    <p class="sw-settings-subscription-plans__delete-modal__message">
                        {{ $tc('global.entity-components.deleteMessage') }}
                    </p>
                </template>
            </sw-entity-listing>
        </template>

        <template v-if="(!plans || plans.length === 0) && !isLoading && !term">
            <sw-empty-state
                :title="$tc('commercial.subscriptions.settings.plan.emptyTitle')"
                :absolute="false"
                :subline="$tc('commercial.subscriptions.settings.plan.emptySubline')"
            >
                <template #icon>
                    <img
                        :src="'/administration/static/img/empty-states/order-empty-state.svg' | asset"
                        :alt="$tc('commercial.subscriptions.settings.plan.emptyTitle')"
                    >
                </template>

                <template #actions>
                    <sw-button
                        variant="ghost"
                        class="sw-settings-subscription-plans__empty-state-add"
                        :router-link="{ name: 'sw.settings.subscription.planCreate' }"
                        :disabled="!acl.can('plans_and_intervals.creator')"
                    >
                        {{ $tc('commercial.subscriptions.subscriptions.listing.buttonAddPlan') }}
                    </sw-button>
                </template>
            </sw-empty-state>
        </template>

    </sw-card>
</div>
