{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
    <div class="collapse"
         id="searchCollapse">
        <div class="header-search">
            <form action="{{ path('frontend.search.page') }}"
                  method="get"
                  {# @deprecated tag:v6.6.0 - Registering plugin on selector "data-search-form" is deprecated. Use "data-search-widget" instead #}
                  {% if feature('v6.6.0.0') and getLicense('ADVANCED_SEARCH-6030617') and feature('ES_MULTILINGUAL_INDEX')  %}
                      data-search-widget="true"
                  {% else %}
                      data-search-form="true"
                  {% endif %}
                  data-search-widget-options='{{ searchWidgetOptions|json_encode }}'
                  data-url="{{ path('frontend.search.suggest') }}?search="
                  class="header-search-form">
                {% block layout_header_search_input_group %}
                    {{ parent() }}
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}
