{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_container %}
    {% if getLicense('ADVANCED_SEARCH-6030617') and feature('ES_MULTILINGUAL_INDEX') %}
		{% set suggestResult = page.searchResult.extensions.multiSuggestResult %}
        {% set products = page.searchResult %}
        {% set completions = page.searchResult.extensions.completionResult %}
        {% set manufacturers = suggestResult.getResult('product_manufacturer') %}
        {% set categories = suggestResult.getResult('category') %}

		<div class="search-suggest-container advanced-search-suggest-container">
			<div class="row justify-content-md-center">
				<div class="col-sm">
					{% sw_include '@Storefront/storefront/layout/header/product.html.twig' %}
				</div>

				{% if completions|length > 0 or manufacturers.total > 0 or categories.total > 0 %}
					<div class="col-sm">
						{% sw_include '@Storefront/storefront/layout/header/mixed-suggestions.html.twig' %}
					</div>
				{% endif %}
			</div>
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}
