{% block sw_product_subscription_card %}
<sw-card
    class="sw-product-subscription-card"
    position-identifier="sw-product-subscription-card"
    :title="$tc('commercial.subscriptions.product.card.title')"
>
    {% block sw_product_subscription_card_description %}
    <p class="sw-product-subscription-card__description">
        <i18n path="commercial.subscriptions.product.card.description">
            <template #link>
                <sw-internal-link
                    class="sw-product-subscription-card__description-link"
                    :router-link="{ name: 'sw.settings.subscription.index' }"
>
                    {{ $tc('commercial.subscriptions.product.card.descriptionLink') }}
                </sw-internal-link>
            </template>
        </i18n>
    </p>
    {% endblock %}

    {% block sw_product_subscription_card_plan_field %}
    <sw-inherit-wrapper
        v-model="product.extensions.subscriptionPlans"
        :has-parent="!!parentProduct.id"
        :inherited-value="parentProduct?.extensions?.subscriptionPlans"
        :label="$tc('commercial.subscriptions.product.card.labelPlans')"
        is-association
    >
        <template #content="{ currentValue, isInherited, updateCurrentValue }">
            <sw-entity-multi-select
                v-if="!loading.product && !loading.parentProduct"
                class="sw-product-subscription-card__plans"
                :key="isInherited"
                :entity-collection="currentValue"
                :placeholder="$tc('commercial.subscriptions.product.card.placeholderPlans')"
                :disabled="isInherited || !allowEdit"
                @change="updateCurrentValue"
            />
        </template>
    </sw-inherit-wrapper>
    {% endblock %}
</sw-card>
{% endblock %}
