{% block sw_cms_detail_toolbar_back_button %}
    <span
        class="sw-cms-detail__back-btn publisher__custom-link"
        @click="onCloseClick"
    >
        <sw-icon name="regular-times"></sw-icon>
    </span>
{% endblock %}

{% block sw_cms_detail_toolbar_page_type %}
    {% parent %}

    <div
        v-if="isEntityDraft"
        class="publisher-cms-detail--is-draft"
    >
        {{ $tc('publisher.listing.draft') }}
    </div>
{% endblock %}

{% block sw_cms_detail_toolbar_actions %}
    <template #preview>
        <sw-button
            v-if="isEntityDraft"
            :isLoading="isLoadingPreview"
            variant="ghost"
            @click="onPreviewClick"
            v-tooltip="{ message: $tc('publisher.detail.previewTooltip') }"
        >
            {{ $tc('publisher.detail.preview') }}
        </sw-button>
    </template>

    <template #activity>
        <publisher-activity-stack v-if="page.extensions" />
    </template>

    {% parent %}
{% endblock %}

{% block sw_cms_detail_toolbar_actions_save %}
    <template v-if="page.locked">
        {% parent %}
    </template>

    <sw-button-group
        v-else
        class="sw-product-detail__save-button-group"
        :splitButton="true"
    >
        {% block publisher_cms_detail_toolbar_actions_save %}
            <sw-button-process
                class="sw-cms-detail__save-action"
                :isLoading="isLoading"
                :processSuccess="isSaveSuccessful"
                :disabled="isLoading || page.locked || !acl.can('cms.editor') || (isEntityDraft && !acl.can('cms_page_draft:update'))"
                variant="primary"
                @process-finish="saveFinish"
                v-tooltip.bottom="tooltipSave"
                @click="onSaveClick"
            >
                {{ $tc('publisher.detail.action.save') }}
            </sw-button-process>
        {% endblock %}

        {% block publisher_cms_detail_toolbar_actions_context %}
            <sw-context-button>
                {% block publisher_cms_detail_toolbar_actions_context_toggle %}
                    <template slot="button">
                        <sw-button
                            square
                            variant="primary"
                            :disabled="isLoading"
                        >
                            <sw-icon
                                name="regular-chevron-down-s"
                                size="20"
                            />
                        </sw-button>
                    </template>
                {% endblock %}

                {% block publisher_cms_detail_toolbar_actions_context_save_draft %}
                    <sw-context-menu-item
                        @click="onSaveDraft"
                        :disabled="isEntityDraft || !acl.can('cms_page_draft:create')"
                    >
                        {{ $tc('publisher.detail.action.saveDraft') }}
                    </sw-context-menu-item>
                {% endblock %}

                {% block publisher_cms_detail_toolbar_actions_context_save_assign %}
                    <sw-context-menu-item
                        :disabled="!isEntityDraft || !acl.can('cms_page_draft:delete') || !acl.can('cms.creator')"
                        class="sw-product-detail__save-duplicate-action"
                        @click="onSavePublish"
                    >
                        {{ $tc('publisher.detail.action.saveAssign') }}
                    </sw-context-menu-item>
                {% endblock %}
            </sw-context-button>
        {% endblock %}
    </sw-button-group>
{% endblock %}

{% block sw_cms_detail_stage_container %}
    {% parent %}

    {% block publisher_cms_detail_modals %}

        {% block publisher_cms_detail_modals_unsaved %}
            <sw-modal
                v-if="showModalUnsaved"
                :title="$tc('publisher.detail.modal.titleUnsaved')"
                @modal-close="showModalUnsaved = false"
                class="publisher__modal"
                size="600px"
            >
                <template>
                    <p>{{ $tc('publisher.detail.modal.unsavedLineInformation') }}</p>
                    <br>
                    <p><b>{{ $tc('publisher.detail.modal.unsavedLineConfirmation') }}</b></p>
                </template>

                <template #modal-footer>
                    <sw-button
                        @click="onDiscard"
                        class="left"
                    >
                        {{ $tc('publisher.detail.modal.discard') }}
                    </sw-button>
                    <sw-button
                        v-if="!isEntityDraft"
                        @click="onModalSaveDraft"
                        variant="ghost"
                        :disabled="!acl.can('cms_page_draft:create')"
                    >
                        {{ $tc('publisher.detail.modal.saveAsDraft') }}
                    </sw-button>
                    <sw-button
                        @click="onModalSaveLayout"
                        variant="primary"
                        :disabled="!acl.can('cms.editor')"
                    >
                        {{ $tc('publisher.detail.modal.save') }}
                    </sw-button>
                </template>
            </sw-modal>
        {% endblock %}

        {% block publisher_cms_detail_modals_draft_name %}
            <sw-modal
                v-if="showModalDraftName"
                :title="$tc('publisher.detail.modal.titleSaveDraft')"
                @modal-close="showModalDraftName = false"
                class="publisher__modal"
                variant="small"
            >
                <template>
                    <p>{{ $tc('publisher.detail.modal.saveDraftInformation') }}</p>

                    <sw-text-field
                        :value="draftName"
                        :label="$tc('publisher.detail.modal.saveDraftLabelName')"
                        @input="setDraftName"
                        class="publisher__modal-input--draft-name"
                    ></sw-text-field>
                </template>

                <template #modal-footer>
                    <sw-button
                        @click="showModalDraftName = false"
                        class="left"
                    >
                        {{ $tc('publisher.detail.modal.cancel') }}
                    </sw-button>
                    <sw-button
                        @click="onModalDraftNameConfirm"
                        :disabled="!draftName.length || !acl.can('cms_page_draft:create')"
                        variant="primary"
                    >
                        {{ $tc('publisher.detail.modal.saveDraftConfirmation') }}
                    </sw-button>
                </template>
            </sw-modal>
        {% endblock %}

        {% block publisher_cms_detail_modals_save_and_publish %}
            <sw-modal
                v-if="showModalPublish"
                :title="$tc('publisher.detail.modal.titlePublish')"
                @modal-close="showModalPublish = false"
                class="publisher__modal"
                variant="large"
            >
                <template>
                    <div class="publisher__modal-info">
                        <sw-icon
                            name="regular-info-circle"
                            size="18"
                        ></sw-icon>
                        {{ $tc('publisher.detail.modal.publishAffectedCategories', page.categories.length) }}
                    </div>
                    <p>{{ $tc('publisher.detail.modal.publishInformation') }}</p>
                    <br>
                    <p><b>{{ $tc('publisher.detail.modal.publishConfirmation') }}</b></p>
                </template>

                <template #modal-footer>
                    <sw-button
                        @click="onDiscard"
                        class="left"
                    >
                        {{ $tc('publisher.detail.modal.discard') }}
                    </sw-button>
                    <sw-button
                        @click="onModalSaveDraft"
                        variant="ghost"
                        :disabled="isEntityDraft || !acl.can('cms_page_draft:create')"
                    >
                        {{ $tc('publisher.detail.modal.saveAsDraft') }}
                    </sw-button>
                    <sw-button
                        @click="onModalSavePublish"
                        variant="primary"
                        :disabled="!isEntityDraft || !acl.can('cms_page_draft:create') || !acl.can('cms.creator')"
                    >
                        {{ $tc('publisher.detail.modal.saveAndPublish') }}
                    </sw-button>
                </template>
            </sw-modal>
        {% endblock %}

        {% block publisher_cms_detail_modals_parent_changes %}
            <sw-modal
                v-if="showModalParentChanges"
                :title="$tc('publisher.detail.modal.titleParentChanges')"
                @modal-close="showModalParentChanges = false"
                class="publisher__modal"
            >
                <template>
                    <div class="publisher__modal-info publisher__modal-info--warning">
                        <sw-icon
                            name="regular-exclamation-triangle"
                            size="18"
                        ></sw-icon>
                        {{ $tc('publisher.detail.modal.infoParentChanges') }}
                    </div>
                    <p>{{ $tc('publisher.detail.modal.descriptionParentChanges') }}</p>
                </template>

                <template #modal-footer>
                    <sw-button
                        @click="onModalUpdateFromParent"
                        class="left"
                        :disabled="!acl.can('cms_page_draft:update')"
                    >
                        {{ $tc('publisher.detail.modal.buttonUpdateFromParent') }}
                    </sw-button>
                    <sw-button
                        @click="onModalSaveNewLayout"
                        variant="ghost"
                        :disabled="!acl.can('cms.creator')"
                    >
                        {{ $tc('publisher.detail.modal.buttonCreateNewLayout') }}
                    </sw-button>
                    <sw-button
                        @click="showModalParentChanges = false"
                        variant="primary"
                        :disabled="!acl.can('cms_page_draft:create')"
                    >
                        {{ $tc('publisher.detail.modal.buttonSaveAsNewDraft') }}
                    </sw-button>
                </template>
            </sw-modal>
        {% endblock %}
    {% endblock %}
{% endblock %}
