{% block sw_product_category_form_category_field %}

    {% block sw_product_category_form_customer_restrictions %}
        <sw-container class="sw-product-category-form__customer-restrictions">

            {% block sw_product_category_form_customer_restrictions_title %}
                <span class="sw-product-category-form__customer-restrictions-title">
                    {{ $tc('swag-dynamic-access.product.title') }}
                </span>
            {% endblock %}

            {% block sw_product_category_form_customer_restrictions_body %}
                <p class="sw-product-category-form__customer-restrictions-body">
                    {{ $tc('swag-dynamic-access.product.body') }}
                </p>
            {% endblock %}

            {% block sw_product_category_form_customer_restrictions_field %}
                <sw-inherit-wrapper
                    v-if="!loading.product && !loading.parentProduct && multiSelectVisible"
                    v-model="dynamicAccessRulesValue"
                    :has-parent="!!parentProduct.id"
                    class="sw-product-category-form__customer-restrictions-field"
                    :inherited-value="dynamicAccessRulesInherited"
                    :label="$tc('swag-dynamic-access.product.fieldLabel')"
                    is-association
                >
                    <template #content="{ currentValue, isInherited, updateCurrentValue }">
                        <sw-select-rule-create
                            :rules="isInherited ? dynamicAccessRulesInherited : dynamicAccessRulesValue"
                            :disabled="isInherited || !allowEdit"
                            :placeholder="$tc('swag-dynamic-access.product.fieldPlaceholder')"
                            rule-aware-group-key="swagDynamicAccessProducts"
                            :key="isInherited"
                            class="sw-product-category-form__customer-restrictions-field-select"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

        </sw-container>
    {% endblock %}

    {% parent %}
{% endblock %}
