{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
	{% set scdInquiryBasket = app.session.get('scdInquiryBasket') %}
	{% set scdInquiryBasketCount = scdInquiryBasket|length %}
	{% set cartItemsCount = page.cart.lineItems|length %}
	{% set cartInquirySumCount = scdInquiryBasketCount + cartItemsCount %}

	<span class="header-cart-icon">
		{% sw_icon 'bag' %}
	</span>
	{% if cartInquirySumCount > 0 %}
		<span class="badge bg-primary header-cart-badge" style="display: block;">{{ cartInquirySumCount }}</span>
	{% endif %}
	<span class="header-cart-total">
		{{ page.cart.price.positionPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
	</span>
{% endblock %}
