<sw-page class="sw-settings-warehouse-group-detail">
    <template #smart-bar-header>
        <h2>{{ placeholder(warehouseGroup, 'name', $tc('sw-settings-warehouse-group.detail.title')) }}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-button @click="toListing">{{ $tc('sw-settings-warehouse-group.detail.buttonCancel') }}</sw-button>
        <sw-button-process
            v-if="acl.can('warehouse-group.editor')"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            variant="primary"
            @process-finish="saveFinish"
            @click.prevent="onSave"
        >
            {{ $tc('sw-settings-warehouse-group.detail.buttonSave') }}
        </sw-button-process>
    </template>

    <template #content>
        <sw-card-view>
            <template v-if="isLoading">
                <sw-skeleton />
                <sw-skeleton v-if="acl.can('warehouse.viewer')" />
                <sw-skeleton v-if="acl.can('warehouse-group.deleter')" />
            </template>

            <template v-else>
                <sw-warehouse-group-form :warehouseGroup="warehouseGroup" />

                <sw-settings-warehouse-group-warehouses
                    v-if="acl.can('warehouse.viewer')"
                    :warehouseGroupId="warehouseGroup.id"
                    :local-mode="false"
                    @selected-entities="setWarehouseGroupWarehouses"
                />

                <sw-card
                    v-if="acl.can('warehouse-group.deleter')"
                    :title="$tc('sw-settings-warehouse-group.detail.titleCardDelete')"
                    position-identifier="sw-settings-warehouse-group-delete"
                >
                    <sw-container
                        columns="1fr 175px"
                        gap="0px 30px"
                    >
                        <div>{{ $tc('sw-settings-warehouse-group.detail.textDeleteWarehouseWarning') }}</div>

                        <sw-button
                            variant="ghost-danger"
                            size="small"
                            @click="showDeleteModal = true"
                        >
                            {{ $tc('sw-settings-warehouse-group.detail.buttonDelete') }}
                        </sw-button>
                    </sw-container>

                    <sw-modal
                        v-if="showDeleteModal"
                        variant="small"
                        :title="$tc('sw-settings-warehouse-group.detail.titleModalDelete')"
                        @modal-close="onCloseDeleteModal"
                    >
                        <p>
                            {{ $tc('sw-settings-warehouse-group.detail.textDeleteConfirm-1') }}<br>
                            {{ $tc('sw-settings-warehouse-group.detail.textDeleteConfirm-2') }}<b>{{ warehouseGroup.name }}</b>{{ $tc('sw-settings-warehouse-group.detail.textDeleteConfirm-3') }}
                        </p>

                        <template #modal-footer>
                            <sw-button
                                size="small"
                                @click="onCloseDeleteModal"
                            >
                                {{ $tc('sw-settings-warehouse-group.detail.buttonCancel') }}
                            </sw-button>

                            <sw-button
                                variant="danger"
                                size="small"
                                @click="onConfirmDelete"
                            >
                                {{ $tc('sw-settings-warehouse-group.detail.buttonDeleteModal') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </sw-card>
            </template>
        </sw-card-view>
    </template>
</sw-page>
