{% block sw_cms_block_image_text_2_colums %}
    <div class="sw-cms-block-image-text-2-colums">
        <div class="left">
            <slot name="leftTop">{% block sw_cms_block_image_text_2_colums_slot_leftTop %}{% endblock %}</slot>
            <slot name="leftBottom">{% block sw_cms_block_image_text_2_colums_slot_leftBottom %}{% endblock %}</slot>
        </div>
        <div class="right">
            <slot name="rightTop">{% block sw_cms_block_image_text_2_colums_slot_rightTop %}{% endblock %}</slot>
            <slot name="rightBottom">{% block sw_cms_block_image_text_2_colums_slot_rightBottom %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}