<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>ScD - Inquiry basket</title>
        <title lang="de-DE">ScD - Anfragekorb</title>
        <input-field type="single-select">
            <name>ScDInquiryBasketType</name>
            <label>Should the inquiry basket be used?</label>
            <label lang="de-DE">Soll der Anfragekorb verwendet werden?</label>
            <defaultValue>false</defaultValue>
            <options>
                <option>
                    <id>typeDeactivated</id>
                    <name>Deactivate inquiry basket globally</name>
                    <name lang="de-DE">Anfragekorb global deaktivieren</name>
                </option>
                <option>
                    <id>typeActivated</id>
                    <name>Activate inquiry basket globally</name>
                    <name lang="de-DE">Anfragekorb global aktivieren</name>
                </option>
                <option>
                    <id>typeProductspecific</id>
                    <name>Only if selected in the article (Customfield)</name>
                    <name lang="de-DE">Nur wenn im Artikel ausgewählt (Customfield)</name>
                </option>
                <option>
                    <id>typeRule</id>
                    <name>Only if the selected rule applies</name>
                    <name lang="de-DE">Nur wenn die ausgewählte Regel zutrifft</name>
                </option>
            </options>
        </input-field>

        <input-field type="bool">
            <name>scdHideLoggedOutPrices</name>
            <label>Logged out users do not see any prices</label>
            <label lang="de-DE">Ausgeloggte User sehen keine Preise</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-entity-single-select">
            <name>scdRule</name>
            <entity>rule</entity>
            <label>Select a rule, only if it applies, the inquiry basket will be used.</label>
            <label lang="de-DE">Wähle eine Regel, nur diese erfüllt ist, wird der Anfragekorb verwendet.</label>
        </component>

        <input-field>
            <name>scdMailreceiver</name>
            <required>true</required>
            <label>Mail Receiver (Inquiry form)</label>
            <label lang="de-DE">Mail Empfänger (Anfrageformular)</label>
            <defaultValue>max@mustermann.com</defaultValue>
        </input-field>
    </card>
</config>
