{% sw_extends '@Storefront/storefront/page/search/index.html.twig' %}

{% block page_search_headline %}
	{{ parent() }}

    {% if getLicense('ADVANCED_SEARCH-6030617') and feature('ES_MULTILINGUAL_INDEX') %}
        {% set searchResult = page.listing.extensions.multiSearchResult %}
        {% set products = page.listing %}
        {% set manufacturers = searchResult.getResult('product_manufacturer') %}
        {% set categories = searchResult.getResult('category') %}

		{% if manufacturers.total > 0 or categories.total > 0 %}
			<div class="swag-advanced-search-additional-results-container">
				{% if categories.total > 0 %}
					<div class="swag-advanced-search-additional-results-row row align-top">
						<div class="col-sm-6 col-lg-4 col-xl-3">
							{% block sw_advanced_search_category_result_header %}
								<div class="advanced-search-result-header">
									{{ "general.categories"|trans }}
								</div>
							{% endblock %}

							{% block sw_advanced_search_category_result_listing %}
								<ul class="advanced-search-result-listing">
									{% for category in categories %}
										<li>
											{% sw_include '@Storefront/storefront/page/search/advanced-search-result.html.twig' with
                                                {
                                                    'name': category.translated.name,
                                                    'link': seoUrl('frontend.navigation.page', { 'navigationId': category.id})
                                                }
                                            %}
										</li>
									{% endfor %}
								</ul>
							{% endblock %}
						</div>
					{% endif %}
					{% if manufacturers.total > 0 %}
						<div class="col-sm-6 col-lg-4 col-xl-3">
							{% block sw_advanced_search_manufacturers_result_header %}
								<div class="advanced-search-result-header">
									{{ "general.manufacturer"|trans }}
								</div>
							{% endblock %}

							{% block sw_advanced_search_manufacturers_result_listing %}
								<ul class="advanced-search-result-listing">
									{% for manufacturer in manufacturers %}
										<li>
											{% sw_include '@Storefront/storefront/page/search/advanced-search-result.html.twig' with
                                                {
                                                    'name': manufacturer.translated.name,
                                                    'link': path('frontend.search.page') ~ "?search=" ~ manufacturer.translated.name
                                                }
                                            %}
										</li>
									{% endfor %}
								</ul>
							{% endblock %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
