{% block sw_cms_block_image_show_text_with_effect_preview %}
    <div class="sw-cms-preview-order-form">
        <div class="sw-cms-preview-order-form-headline">
            <h3>Lorem ipsum dolor sit amet elitr.</h3>
        </div>

        <div class="sw-cms-preview-order-form-description">
            <p>Lorem ipsum dolor sit amet elitr ipsum dolor sit amet elitr ipsum dolor sit amet elitr.</p>
        </div>
    </div>
{% endblock %}
