<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_product_variants_overview_data_grid_column_stock %}
    <template
        slot="column-stock"
        slot-scope="{ item, isInlineEdit, compact }"
    >
        <template v-if="hasWarehouseGroups(item)">
            <router-link
                :to="{ name: 'sw.product.detail.base', params: { id: item.id } }"
            >
                {{ $tc('sw-product.variants-overview.inlineText') }}
            </router-link>
        </template>

        <template v-else>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_variants_overview_data_grid_column_stock_inline_edit_field %}
                <sw-field
                    v-if="isInlineEdit"
                    v-model="item.stock"
                    type="number"
                    :size="compact ? 'small' : 'default'"
                />
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_variants_overview_data_grid_column_stock_preview %}
                <span v-else>
                    {{ item.stock }}
                </span>
            {% endblock %}
        </template>
    </template>
{% endblock %}
