{# @deprecated tag:v6.5.0 - Template `line-item-header.html.twig` is deprecated. Use `storefront/component/checkout/cart-header.html.twig` instead. #}
{% sw_extends '@Storefront/storefront/page/account/order/line-item-header.html.twig' %}

{% set orderHasLineItemStatus = page.order.lineItems|filter(lineItem => lineItem.extensions.state is not null)|length %}

{% block page_checkout_cart_header_product_info %}
    <div class="{% if orderHasLineItemStatus %}col-5{% else %}col-6{% endif %} cart-header-info">
        {{ "checkout.cartHeaderInfo"|trans|sw_sanitize }}
    </div>

    {% if orderHasLineItemStatus %}
        {% block page_checkout_cart_header_status %}
            <div class="col-2 cart-header-status">
                {{ "swag-return-management.checkout.cartHeaderStatus"|trans|sw_sanitize }}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block page_checkout_cart_header_tax_price %}
    {% if context.salesChannel.taxCalculationType == 'horizontal' %}
        <div class="{% if orderHasLineItemStatus %}col-1{% else %}col-2{% endif %} cart-header-tax-price">
            {% if context.taxState == "gross" %}
                {{ "checkout.cartHeaderTaxIncludeVat"|trans|sw_sanitize }}
            {% else %}
                {{ "checkout.cartHeaderTaxExcludeVat"|trans|sw_sanitize }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
