{# @deprecated tag:v6.5.0 - Template `storefront/page/account/order/line-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}
{% sw_extends '@Storefront/storefront/page/account/order/line-item.html.twig' %}

{% set hasStatus = lineItem.extensions.state is not null %}
{% set orderHasLineItemStatus = page.order.lineItems|filter(lineItem => lineItem.extensions.state is not null)|length %}

{% block page_checkout_item_info %}
    <div class="col-12 col-md cart-item-info">
        {{ block('page_checkout_item_info_inner') }}
    </div>

    {% if orderHasLineItemStatus %}
        {% block page_checkout_item_status %}
            <div class="col-12 col-sm-4 col-md-2 cart-item-status">
                {% if hasStatus %}
                    {% block page_checkout_item_status_label %}
                        <div class="cart-item-status-label">
                            {{ "swag-return-management.checkout.cartHeaderStatus"|trans|sw_sanitize }}
                        </div>
                    {% endblock %}

                    {% block page_checkout_item_status_inner %}
                        {% sw_include '@SwagCommercial/storefront/component/element/status.html.twig' with {
                            'statusName': lineItem.extensions.state.translated.name,
                            'technicalName': lineItem.extensions.state.technicalName
                        } %}
                    {% endblock %}
                {% endif %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block page_checkout_item_quantity %}
    <div class="col-12 col-sm-4 {% if orderHasLineItemStatus %}col-md-1{% else %}col-md-2{% endif %} cart-item-quantity">
        <div class="row cart-item-quantity-row">

            {% block page_checkout_item_quantity_label %}
                {{ parent() }}
            {% endblock %}

            {% block page_checkout_item_quantity_select %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
