{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price_info %}
    {% set ScDB2BInquiry = config('ScDB2BInquiry') %}
    {% set activeRules = context.context.ruleIds %}
    {% set scdRule = ScDB2BInquiry.config.scdRule %}

    {% if ((ScDB2BInquiry.config.ScDInquiryBasketType == "typeActivated" or
        (ScDB2BInquiry.config.ScDInquiryBasketType == "typeProductspecific" and product.translated.customFields.scd_activate_inquiry_basket))
        or (scdRule !== null and ScDB2BInquiry.config.ScDInquiryBasketType == "typeRule" and (scdRule in activeRules)))
        and (context.currentCustomerGroup.customFields.scd_customergroup_hideinquiry != true) %}
        <div class="product-price-info">
            <p class="product-price-unit"></p>
            <div class="product-price-wrapper">
                <div class="product-cheapest-price"></div>
                <span class="product-price">
                    {{ "scd.inquiryPrice"|trans|sw_sanitize }}
                </span>
            </div>
        </div>
    {% else %}
        {% if context.customer or (not context.customer and (ScDB2BInquiry.config.scdHideLoggedOutPrices == null or ScDB2BInquiry.config.scdHideLoggedOutPrices == false)) %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}