{% block sw_settings_cart_ai_card_description %}
    <span class="sw-field sw-settings-cart-ai-card__content-description">
        {{ $tc('commercial.checkout-sweetener.description') }}
    </span>
{% endblock %}
