<sw-modal
    :subtitle="$tc('commercial.subscriptions.settings.interval.preview.modalSubTitle')"
    :closable="true"
    class="sw-settings-subscription-interval-preview-modal"
    @modal-close="$emit('modal-close')"
>
    <div v-for="date in dates">
        {{ date }}
    </div>

    <template #modal-title>
        <div class="sw-settings-subscription-interval-preview-modal__title">
            <h4 class="sw-modal__title">{{ $tc('commercial.subscriptions.settings.interval.preview.modalTitle') }}</h4>
            <sw-help-text :text="$tc('commercial.subscriptions.settings.interval.preview.modalHelpText')" />
        </div>
    </template>

    <template #modal-footer>
        <sw-button variant="primary"  @click="$emit('modal-close')">
            {{ $tc('global.default.close') }}
        </sw-button>
    </template>
</sw-modal>
