<div class="sw-product-generated-description-ellipsis__dots">
    <div class="sw-product-generated-description-ellipsis__dot"></div>
    <div class="sw-product-generated-description-ellipsis__dot"></div>
    <div class="sw-product-generated-description-ellipsis__dot"></div>
</div>
