{% block component_line_item_status %}
    <div class="line-item-status-wrapper">
        {% block component_line_item_status_text %}
            <span class="line-item-status-name">{{ statusName }}</span>
        {% endblock %}
    </div>
{% endblock %}
