{% block sw_system_config_content_card_field %}
    <template v-if="element.name === 'core.cart.aiCheckoutMessageShowDisclaimer'">
        <sw-inherit-wrapper
            v-model="actualConfigData[currentSalesChannelId][element.name]"
            v-bind="getInheritWrapperBind(element)"
            :has-parent="isNotDefaultSalesChannel"
            :inherited-value="getInheritedValue(element)"
            :class="'sw-system-config--field-' + kebabCase(getElementBind(element).name)"
        >
            <template #content="props">
                <sw-form-field-renderer
                    v-bind="getElementBind(element, props)"
                    :key="props.isInheritField + props.isInherited"
                    :disabled="props.isInherited"
                    :value="props.currentValue"
                    :error="getFieldError(element.name)"
                    @input="props.updateCurrentValue"
                    @change="props.updateCurrentValue"
                >
                    <template #label>
                        {{ getInlineSnippet(element.config.label) }}
                        <br><span class="sw-field__label-hint">{{ $tc('commercial.checkout-sweetener.disclaimerHint') }}</span>
                    </template>
                </sw-form-field-renderer>
            </template>
        </sw-inherit-wrapper>
    </template>

    <template v-else-if="element.name === 'core.cart.aiCheckoutMessagePreview'">
       <sw-settings-cart-ai-card-preview-link
           :characterLimit="currentCharacterLimit"
           :keywords="currentKeywords"
       />
    </template>

    <template v-else>
        {% parent %}
    </template>
{% endblock %}
