<div class="swag-b2b-features-customer-specific-features">
    <div
        v-for="(feature, index) in features"
        :key="index"
        class="swag-b2b-features-customer-specific-features__card-section"
    >
        <sw-container
            align="center"
            columns="1fr auto"
            gap="20px"
        >
            <div class="swag-b2b-features-customer-specific-features__card-content">
                <p class="swag-b2b-features-customer-specific-features__card-title">
                    {{ feature.name }}
                </p>

                <p>{{ feature.description }}</p>
            </div>

            <sw-switch-field
                v-if="customerEditMode"
                :class="`swag-b2b-features-customer-specific-feature-${ feature.name }`"
                v-model="customer.extensions.specificFeatures.features[feature.code]"
                :label="$tc('swag-b2b-features.specificFeaturesCard.activeLabel')"
            />

            <div
                v-else
                class="swag-b2b-features-customer-specific-features__card-section-status"
            >
                <sw-status
                    v-if="customer.extensions.specificFeatures.features[feature.code]"
                    color="green"
                >
                    {{ $tc('sw-boolean-filter.active') }}
                </sw-status>

                <sw-status
                    v-else
                    color="gray"
                >
                    {{ $tc('sw-boolean-filter.inactive') }}
                </sw-status>
            </div>
        </sw-container>
    </div>
</div>
