{% block sw_settings_search_language_switch %}
<template #language-switch>
    <sw-language-switch
        v-if="!esEnabled"
        @on-change="onChangeLanguage"
    />
</template>
{% endblock %}

{% block sw_settings_search_tabs_header %}
<div class="sw-settings-search__global-sales-channel-switch">
    <sw-entity-single-select
        entity="sales_channel"
        :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
        :value="salesChannelId"
        @change="onChangeSalesChannelId"
    >
        <template #labelProperty="{ item, labelProperty }">
            <span v-if="item.translated">{{ item.translated[labelProperty] }}</span>
        </template>
    </sw-entity-single-select>
</div>
{% parent %}
{% endblock %}

{% block sw_setting_search_tabs_live_search %}
{% parent %}
<sw-tabs-item
    v-if="esEnabled"
    class="sw-settings-search__boosting-tab"
    :route="{ name: 'sw.settings.search.index.boosting' }"
>
    {{ $tc('swag-advanced-search.boostingTab.title') }}
</sw-tabs-item>
{% endblock %}

{% block sw_settings_search_tabs_content %}
<template v-if="isLoading">
    <sw-skeleton />
    <sw-skeleton />
</template>

<router-view
    v-show="!isLoading"
    :is-loading="isLoading"
    :product-search-configs="productSearchConfigs"
    :search-terms="searchTerms"
    :search-results="searchResults"
    @edit-change="onEditChanged"
    @sales-channel-change="onSalesChannelChanged"
    @live-search-results-change="onLiveSearchResultsChanged"
    @excluded-search-terms-load="getProductSearchConfigs"
/>
{% endblock %}
