{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    <div class="content--description">
        {{ page.product.translated.customFields.migration_Compumess57Live_product_produkblaetter_downloads|raw }}
    </div>
{% endblock %}