{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% set customFields = {
    'Serie': 'migration_Compumess57Live_product_series',
    'Marke': 'migration_Compumess57Live_product_marke',
    'LeistungNum': 'migration_Compumess57Live_product_leistungnum',
    'Ausgangsleistung': 'migration_Compumess57Live_product_attr2',
    'Eingangsspannung': 'migration_Compumess57Live_product_attr3',
    'Ausgangsspannung': 'migration_Compumess57Live_product_ausgangsspannung',
    'Ausgangsstrom': 'migration_Compumess57Live_product_attr4',
    'Ausgange': 'migration_Compumess57Live_product_attr6',
    'Ein-/Ausgangsisolation': 'migration_Compumess57Live_product_attr9',
    'GenauigkeitSpannung': 'migration_Compumess57Live_product_attr18',
    'MTBF': 'migration_Compumess57Live_product_attr14',
    'Typ': 'migration_Compumess57Live_product_typ',
    'Bauform': 'migration_Compumess57Live_product_bauform',
    'Eingang': 'migration_Compumess57Live_product_eingang',
    'Kategorie': 'migration_Compumess57Live_product_kategorie',
    'Schnittstellen': 'migration_Compumess57Live_product_schnittstellen',
    'Beschreibung': 'migration_Compumess57Live_product_bullet_point',
    'Technologie': 'migration_Compumess57Live_product_technologie',
    'Technologie': 'migration_Compumess57Live_product_technologie',
    'Produktalternative': 'migration_Compumess57Live_product_alternative_product',
    'Eingangsbereich': 'migration_Compumess57Live_product_eingangsbereich',
    'Arbeitstemperatur': 'migration_Compumess57Live_product_arbeitstemperatur',
    'BauformDetail': 'migration_Compumess57Live_product_bauform_detail',
    'Anwendung': 'migration_Compumess57Live_product_anwendung',
    'Regelung': 'migration_Compumess57Live_product_regelung',
    'SpezielleZulassungen': 'migration_Compumess57Live_product_spezielle_zulassungen',
    'Ähnliches Produkt': 'migration_Compumess57Live_product_related_product',
    'Kühlung': 'migration_Compumess57Live_product_k_hlung',
    'SubKategorie': 'migration_Compumess57Live_product_subkategorie',
    'Wirkungsgrad ≥': 'migration_Compumess57Live_product_wirkungsgrad',
    'AbmessungenLange': 'migration_Compumess57Live_product_abmessungen_l_nge',
    'AbmessungenBreite': 'migration_Compumess57Live_product_abmessungen_breite',
    'AbmessungenHohe': 'migration_Compumess57Live_product_abmessungen_h_he',
    'SchaltfrequenzTyp': 'migration_Compumess57Live_product_schaltfrequenz_typ',
} %}

{% block utilities_offcanvas_content %}
    <div class="content--description">
        <table class="product--properties-table">
            <tbody>
                <tr>
                    <td style=" background: none; ">
                        {{ page.product.translated.customFields.migration_Compumess57Live_product_header_description|raw }}
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div class="product--properties panel has--border">
            <table class="product--properties-table">
                <tbody>
                    {% for label, field in customFields %}
                        {% set value = page.product.translated.customFields[field] %}
                        {% if value %}
                            <tr class="product--properties-row">
                                <td class="product--properties-label is--bold">{{ label }}</td>
                                <td class="product--properties-value">{{ value|raw }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}