{% block sw_cms_block_image_text_5_colums %}
	<div class="sw-cms-preview-image-text-5-colums">
		<div class='item'>
			<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
			<div>
				<h2>Heading</h2>
				<p>Content</p>
			</div>
		</div>
		<div class='item'>
			<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
			<div>
				<h2>Heading</h2>
				<p>Content</p>
			</div>
		</div>
		<div class='item'>
			<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
			<div>
				<h2>Heading</h2>
				<p>Content</p>
			</div>
		</div>
		<div class='item'>
			<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
			<div>
				<h2>Heading</h2>
				<p>Content</p>
			</div>
		</div>
		<div class='item'>
			<img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
			<div>
				<h2>Heading</h2>
				<p>Content</p>
			</div>
		</div>
	</div>
{% endblock %}
