{% block page_account_quickorder_item_table %}
    <div class="quick-order-item-table">
        {% block  page_account_quickorder_item_list_header %}
            <div class="quick-order-item-header d-none d-sm-block">
                <div class="row">
                    {% block page_account_quickorder_header_product %}
                        <div class="col-9 quick-order-header-cell quick-order-header-name">
                            <span>{{ "quickOrder.columnName"|trans|sw_sanitize }}</span>
                        </div>
                    {% endblock %}

                    {% block page_account_quickorder_header_quantity %}
                        <div class="col-2 quick-order-header-cell quick-order-header-quantity">
                            <span>{{ "quickOrder.columnQuantity"|trans|sw_sanitize }}</span>
                        </div>
                    {% endblock %}

                    {% block page_account_quickorder_header_action %}
                        <div class="col-1 quick-order-header-cell quick-order-header-action"></div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block page_account_quick_order_alert %}
            <div class="quick-order-alert">
                {% block page_account_quick_order_alert_not_found_product %}
                    {% sw_include '@SwagQuickOrder/storefront/page/account/quick-order/item-alert.html.twig' with {
                        type: 'danger',
                        id: 'notFoundItemsAlert',
                        contentTitle: 'quickOrder.productNotFound'
                    } %}
                {% endblock %}

                {% block page_account_quick_order_alert_duplicated_item %}
                    {% sw_include '@SwagQuickOrder/storefront/page/account/quick-order/item-alert.html.twig' with {
                        type: 'warning',
                        id: 'duplicatedItemAlert',
                        contentTitle: 'quickOrder.productHasBeenAdded'
                    } %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block  page_account_quickorder_item_table_body %}
            <div class="quick-order-item-table-body">
                {% block  page_account_quickorder_item_table_empty_item %}
                    {% sw_include '@SwagQuickOrder/storefront/page/account/quick-order/line-item.html.twig' %}
                {% endblock %}

                {% block  page_account_quickorder_item_table_list %}
                    <div class="quick-order-content-list"></div>
                {% endblock %}
            </div>

            {% block  page_account_quickorder_item_table_pagination %}
                {% sw_include '@SwagQuickOrder/storefront/component/list-pagination.html.twig' %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
