{% block page_account_quickorder_item %}
    {% set quickOrderItemOptions = {
            searchProductUrl: path('frontend.account.quick-order.product.suggest'),
            noProductFoundSnippet: 'quickOrder.textNoProductsFound'|trans|striptags
        }
    %}

    <div class="quick-order-line-item quick-order-empty-item"
         data-b2b-quick-order-item="true"
         data-b2b-quick-order-item-options="{{ quickOrderItemOptions|json_encode }}"
    >
        <div class="row">
        {% block page_account_quickorder_item_body_name %}
            <div class="col-sm-9 col-12 quick-order-item-name">
                {% block page_account_quickorder_item_body_name_field %}
                    <div
                        autofocus
                        contenteditable
                        placeholder="{{ "quickOrder.placeholderNameField"|trans|sw_sanitize }}"
                        class="input-product-name form-control"
                    ></div>
                {% endblock %}

                {% block  page_account_quickorder_item_body_loader %}
                    <div class="quick-order-item-loader"></div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_account_quickorder_item_body_quantity %}
            <div class="col-sm-2 col-12 quick-order-item-quantity">
                {% block page_account_quickorder_quantity_input_group %}
                    {% set maxQuantity = config('core.cart.maxQuantity') %}

                    <div class="input-group line-item-quantity-group quantity-selector-group"
                         disabled
                         data-quantity-selector="true"
                    >
                        <button
                            type="button"
                            class="btn btn-outline-light btn-minus js-btn-minus"
                            tabindex="-1"
                        >
                            {% sw_icon 'minus' style {'size': 'xs'}  %}
                        </button>

                        <input
                            type="number"
                            name="quantity"
                            class="form-control js-quantity-selector quantity-selector-group-input input-product-quantity"
                            value="0"
                            tabindex="-1"
                            max={{ maxQuantity }}
                        />

                        <button
                            type="button"
                            class="btn btn-outline-light btn-plus js-btn-plus"
                            tabindex="-1"
                        >
                            {% sw_icon 'plus' style {'size': 'xs'} %}
                        </button>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_account_quickorder_item_body_action %}
            <div class="col-sm-1 col-12 quick-order-item-action d-none">
                <button type="button"
                        title="{{ "global.default.remove"|trans|striptags }}"
                        class="btn btn-light btn-sm quick-order-remove-button">
                    {% sw_icon 'x' style { 'size': 'xs' } %}
                </button>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
