<sw-page class="sw-settings-warehouse-detail">
    <template #smart-bar-header>
        <h2>{{ placeholder(warehouse, 'name', $tc('sw-settings-warehouse.detail.title')) }}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-button  @click="toListing">
            {{ $tc('sw-settings-warehouse.detail.buttonCancel') }}
        </sw-button>
        <sw-button-process
            v-if="acl.can('warehouse.editor')"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            variant="primary"
            @process-finish="saveFinish"
            @click.prevent="onSave"
        >
            {{ $tc('sw-settings-warehouse.detail.buttonSave') }}
        </sw-button-process>
    </template>

    <template #content>
        <sw-card-view>
            <template v-if="isLoading">
                <sw-skeleton />
                <sw-skeleton v-if="acl.can('warehouse.deleter')" />
            </template>

            <template v-else-if="warehouse">
                <sw-card
                    :title="$tc('sw-settings-warehouse.detail.titleCardMain')"
                    :is-loading="isLoading"
                    position-identifier="sw-settings-warehouse-detail-form"
                >
                    <sw-field
                        v-model="warehouse.name"
                        type="text"
                        required
                        validation="required"
                        :error="warehouseNameError"
                        :disabled="!acl.can('warehouse.editor')"
                        :label="$tc('sw-settings-warehouse.detail.labelName')"
                        :placeholder="$tc('sw-settings-warehouse.detail.placeholderName')"
                    />

                    <sw-field
                        v-model="warehouse.description"
                        type="textarea"
                        :disabled="!acl.can('warehouse.editor')"
                        :label="$tc('sw-settings-warehouse.detail.labelDescription')"
                        :placeholder="$tc('sw-settings-warehouse.detail.placeholderDescription')"
                    />

                    <sw-entity-multi-select
                        v-if="acl.can('warehouse-group.viewer')"
                        :criteria="warehouseGroupSelectCriteria"
                        :entity-collection="warehouse.groups"
                        :disabled="!acl.can('warehouse.editor')"
                        :label="$tc('sw-settings-warehouse.detail.labelGroups')"
                        :placeholder="$tc('sw-settings-warehouse.detail.placeholderGroups')"
                        :help-text="$tc('sw-settings-warehouse.detail.helpTextGroups')"
                        @change="updateGroupCollection"
                    ></sw-entity-multi-select>
                </sw-card>

                <sw-card
                    v-if="acl.can('warehouse.deleter')"
                    :title="$tc('sw-settings-warehouse.detail.titleCardDelete')"
                    :is-loading="isLoading"
                    position-identifier="sw-settings-warehouse-detail-delete"
                >
                    <sw-container
                        columns="1fr 175px"
                        gap="0px 30px"
                    >
                        <div>{{ $tc('sw-settings-warehouse.detail.textDeleteWarehouseWarning') }}</div>

                        <div>
                            <sw-button
                                variant="ghost-danger"
                                size="small"
                                @click="showDeleteModal = true"
                            >
                                {{ $tc('sw-settings-warehouse.detail.buttonDelete') }}
                            </sw-button>
                        </div>
                    </sw-container>

                    <sw-modal
                        v-if="showDeleteModal"
                        variant="small"
                        :title="$tc('sw-settings-warehouse.detail.titleModalDelete')"
                        @modal-close="onCloseDeleteModal"
                    >
                        <p>
                            {{ $tc('sw-settings-warehouse.detail.textDeleteConfirm-1') }}<br>
                            {{ $tc('sw-settings-warehouse.detail.textDeleteConfirm-2') }}<b>{{ warehouse.name }}</b>{{ $tc('sw-settings-warehouse.detail.textDeleteConfirm-3') }}
                        </p>

                        <template #modal-footer>
                            <sw-button
                                size="small"
                                @click="onCloseDeleteModal"
                            >
                                {{ $tc('sw-settings-warehouse.detail.buttonCancel') }}
                            </sw-button>

                            <sw-button
                                variant="danger"
                                size="small"
                                @click="onConfirmDelete"
                            >
                                {{ $tc('sw-settings-warehouse.detail.buttonDeleteModal') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </sw-card>
            </template>
        </sw-card-view>
    </template>
</sw-page>
