{% block swag_customized_products_product_details %}
    {% if lineItem.payload.options is not empty %}
        {% sw_include '@Storefront/storefront/component/line-item/element/variant-characteristics.html.twig' %}
    {% endif %}

    {% if lineItem.payload.features is not empty %}
        {% sw_include '@Storefront/storefront/component/product/feature/list.html.twig' with {
            'features': lineItem.payload.features
        } %}
    {% endif %}

    {% if lineItem.payload.productNumber %}
        <div class="line-item-ordernumber">
            {{ "checkout.cartItemInfoId"|trans|sw_sanitize }} {{ lineItem.payload.productNumber }}
        </div>
    {% endif %}

    {% if config('core.cart.showDeliveryTime') %}
        {% sw_include '@Storefront/storefront/component/line-item/element/delivery-date.html.twig' %}
    {% endif %}

    {% if config('core.cart.wishlistEnabled') %}
        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
            showText: true,
            size: 'sm',
            productId: lineItem.referencedId
        } %}
    {% endif %}
{% endblock %}
