{% block swag_customized_products_product_option_unit_price %}
    <div class="container swag-customized-products__line-item-option-elements collapse" id="{{ childrenCollapseId }}">
        {% for nestedLineItem in lineItem.children %}
            <div class="swag-customized-products__line-item-option-element">
                {% block swag_customized_products_product_option_unit_price_element %}
                    {% if nestedLineItem.children.count == 0 %}
                        <div class="swag-customized-products__line-item-option-sub-element">
                            {% if showTaxPrice %}
                                {% sw_include '@Storefront/storefront/component/line-item/element/tax-price.html.twig' with {
                                    lineItem: nestedLineItem
                                } %}
                            {% else %}
                                {% sw_include '@Storefront/storefront/component/line-item/element/unit-price.html.twig' with {
                                    lineItem: nestedLineItem
                                } %}
                            {% endif %}
                        </div>
                    {% else %}
                        {% if nestedLineItem.price.totalPrice > 0 %}
                            <div class="swag-customized-products__line-item-option-sub-element">
                                {% if showTaxPrice %}
                                    {% sw_include '@Storefront/storefront/component/line-item/element/tax-price.html.twig' with {
                                        lineItem: nestedLineItem
                                    } %}
                                {% else %}
                                    {% sw_include '@Storefront/storefront/component/line-item/element/unit-price.html.twig' with {
                                        lineItem: nestedLineItem
                                    } %}
                                {% endif %}
                            </div>
                        {% endif %}
                        {% for optionLineItem in nestedLineItem.children %}
                            <div class="swag-customized-products__line-item-option-sub-element">
                                {% if showTaxPrice %}
                                    {% sw_include '@Storefront/storefront/component/line-item/element/tax-price.html.twig' with {
                                        lineItem: optionLineItem
                                    } %}
                                {% else %}
                                    {% sw_include '@Storefront/storefront/component/line-item/element/unit-price.html.twig' with {
                                        lineItem: optionLineItem
                                    } %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
