{% block component_quick_order_pagination_nav %}
    <nav
        aria-label="pagination"
        class="quick-order-pagination pagination-nav d-none"
        data-b2b-quick-order-pagination="true"
    >
        {% block component_pagination %}
            <ul class="pagination justify-content-center">
                {% block component_pagination_first %}
                    <li class="page-item page-first">
                        <input type="radio"
                               name="p"
                               id="p-first"
                               value="1"
                               class="d-none"
                               title="pagination">

                        <label class="page-link" for="p-first">
                            {% sw_icon 'arrow-medium-double-left' style {'size': 'fluid', 'pack': 'solid'} %}
                        </label>
                    </li>
                {% endblock %}

                {% block component_pagination_prev %}
                    <li class="page-item page-prev">
                        <input type="radio"
                               name="p"
                               id="p-prev"
                               value="1"
                               class="d-none"
                               title="pagination">

                        <label class="page-link" for="p-prev">
                            {% sw_icon 'arrow-medium-left' style {'size': 'fluid', 'pack': 'solid'} %}
                        </label>
                    </li>
                {% endblock %}

                {% block component_pagination_loop %}
                    <li class="page-item page-number active">
                        <input type="radio"
                               name="p"
                               id="p1"
                               value="1"
                               class="d-none"
                               title="pagination"
                               checked="checked">
                        <label class="page-link" for="p1">1</label>
                    </li>
                {% endblock %}

                {% block component_pagination_next %}
                    <li class="page-item page-next">
                        <input type="radio"
                               name="p"
                               id="p-next"
                               value="1"
                               class="d-none"
                               title="pagination">

                        <label class="page-link" for="p-next">
                            {% sw_icon 'arrow-medium-right' style {'size': 'fluid', 'pack': 'solid'} %}
                        </label>
                    </li>
                {% endblock %}

                {% block component_pagination_last %}
                    <li class="page-item page-last">
                        <input type="radio"
                               name="p"
                               id="p-last"
                               value="1"
                               class="d-none"
                               title="pagination">

                        <label class="page-link" for="p-last">
                            {% sw_icon 'arrow-medium-double-right' style {'size': 'fluid', 'pack': 'solid'} %}
                        </label>
                    </li>
                {% endblock %}
            </ul>
        {% endblock %}
    </nav>
{% endblock %}
