<div class="sw-product-warehouse-stock">
    <div class="sw-product-warehouse-stock__toolbar">
        <sw-card-filter
            :disabled="isLoading"
            @sw-card-filter-term-change="onChangeSearchTerm"
        />
    </div>

    <sw-entity-listing
        :repository="warehouseRepository"
        :columns="warehouseColumns"
        :items="warehouses"
        :plain-appearance="false"
        :full-page="false"
        :show-selection="false"
        :show-actions="true"
        :show-settings="true"
        :is-loading="isLoading"
        :criteria-limit="limit"
        :allow-bulk-edit="true"
        :allow-view="acl.can('warehouse-group.viewer')"
        :allow-edit="acl.can('warehouse.editor')"
        :allow-inline-edit="acl.can('warehouse.editor')"
        :allow-delete="false"
        @update-records="onUpdateRecords"
    >
        <template #column-warehouse.productWarehouses[0].stock="{ item, column, isInlineEdit }">
            <sw-data-grid-inline-edit
                v-if="isInlineEdit"
                :column="column"
                :compact="true"
                :value="item.warehouse.productWarehouses[0].stock"
                @input="item.warehouse.productWarehouses[0].stock = $event"
            />
            <span
                v-else
                class="sw-data-grid__cell-value"
            >
                {{ item.warehouse.productWarehouses[0].stock }}
            </span>
        </template>
    </sw-entity-listing>
</div>
