{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}

{% block page_product_detail_name %}
	<h1 class="product-detail-name" itemprop="name">
		{{ page.product.translated.name }}
	</h1>
	<p>
		{{ page.product.translated.customFields.migration_ComuMess5_product_subtitle }}
	</p>
{% endblock %}
