{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_buy %}

    {% if product.extensions.subscriptionPlans.count > 0 and getLicense('SUBSCRIPTIONS-6549379') %}
        {% block component_product_box_action_buy_subscription_button %}
            <div class="d-grid">
                <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                   class="btn btn-light"
                   title="{{ "listing.boxProductDetails"|trans|striptags }}">
                    {{ "listing.boxProductDetails"|trans|sw_sanitize }}
                </a>
            </div>
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}
