{% sw_extends "@Storefront/storefront/component/product/card/price-unit.html.twig" %}

{% block component_product_box_price_info %}
    {{ parent() }}

    {% if getLicense('SUBSCRIPTIONS-6549379') %}
        {% set plans = product.extensions.subscriptionPlans %}
        {% set highestDiscount = plans.getPlanWithHighestDiscount().getDiscountPercentage() ?? 0 %}

        {% set labelWithDiscount = "commercial.subscriptions.listing.badgeTitleWithDiscount"|trans({"%discountPercentage%": highestDiscount})|sw_sanitize %}
        {% set defaultLabel = "commercial.subscriptions.listing.badgeTitle"|trans|sw_sanitize %}

        {% block component_product_box_price_info_subscription_badge %}
            <span class="badge badge-sm subscription-badge bg-info m-0 px-2 fw-normal {% if not product.extensions.subscriptionPlans.count > 0 %}invisible{% endif %}">
                {{ highestDiscount > 0 ? labelWithDiscount : defaultLabel }}
            </span>
        {% endblock %}
    {% endif %}

{% endblock %}
