<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{ employee.firstName }} {{ employee.lastName }},<br/>
        <br/>
        Es wurde eine Anfrage gestellt, um Ihr Passwort für das Mitarbeiter-Konto im Shop {{ salesChannel.translated.name }} zurückzusetzen.<br/>
        Bitte klicken Sie auf den folgenden Link, um ein neues Passwort zu setzen.<br/>
        <br/>
        <a href="{{ resetUrl }}">Passwort zurücksetzen</a><br/>
        <br/>
        Dieser Link ist für die nächsten 2 Stunden gültig. Der Zurücksetzungslink kann jederzeit erneut angefragt werden.<br/>
        Falls Sie Ihr Passwort nicht zurücksetzen möchten, ignorieren Sie diese E-Mail.<br/>
    </p>
</div>
