<div style="font-family:arial; font-size:12px;">
    <p>
        Hello {{ employee.firstName }} {{ employee.lastName }},<br/>
        <br/>
        we received a request to reset your employee account's password in the shop {{ salesChannel.translated.name }}.<br/>
        Please confirm by clicking the link below to set a new password.<br/>
        <br/>
        <a href="{{ resetUrl }}">Reset password</a><br/>
        <br/>
        This link is valid for the next 2 hours. You may request a new confirmation link at any time.<br/>
        If you do not want to reset your password, please ignore this email.<br/>
    </p>
</div>
